// font-family: 'Open Sans', sans-serif;
//
html, body, ul, li, p, img, h1, h2, h3, h4 {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
  text-decoration: none;
  transition:0.5s ease;
}
img{
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
$width-full:1200px;

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@function percent($pixels) {
  @return #{($pixels/$width-full)*100%}
}
%border{
	border: 1px solid #dbdbdb;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 2, 0.2);
}
%clear{
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}
%img{
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
html{
	font-family: 'Open Sans', sans-serif;
}
.justify {
	text-align:justify;
	font-size: 0;
	line-height: 0;
	&:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
}
%center{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, 0);
}
.wraper{
	width:1200px;
	margin: 0 auto;
	&_footer-top{
		position: relative;
		height: 100%;
		display: table;
		box-sizing: border-box;
	}
}
.button{
	display:inline-block;
	min-width: 293px;
	background-color: #fccc00;
	border: 1px solid white;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #3e3e3e;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 45px;
	text-align: center;
}
/*head*/
.head{
	position: relative;
}
.navigation{
	position:relative;
	z-index: 1;
	height: 73px;
}
.contact{
	height:34px;
	background:#ffaf00;
	margin: 0 0 14px 0;
	&__item{
		display:inline-block;
		color: #fcfcfc;
		font-family: "Myriad Pro";
		font-size: 15px;
		font-weight: 400;
		line-height:34px;
		padding: 0 0 0 25px;
		margin: 0 0 0 10px;
	}
}
.adress, .contact-phone{
	position: relative;
	&:after{
		content:'';
		position: absolute;
		top:50%;
		left: 0;
		width: 20px;
		height: 20px;
		transform: translate(0, -50%);
		background: url(../img/ico.png) no-repeat 0 0;
	}
}
.adress{
	&:after{
		background-position: 0 -65px;
	}
}
.contact-phone {
	font-size: 19px;
	&:after{
		background-position: 0 -3px;
	}
	&_footer{
		line-height: 40px;
		&:after{
			background-position: 0 -24px;
		}
	}
}
.menu {
	box-sizing: border-box;
	margin: 0 0 30px 0;
	&__container{
		display: inline-block;
		// &_left{
		// 	margin: 0 9.5% 0 0;
		// }
		// &_right{
		// 	margin: 0 0 0 9.5%;
		// }
	}
	&__item{
		display:inline-block;
		font-size: 18px;
		font-weight: 400;
		line-height:1;
		text-transform: uppercase;
		box-sizing: border-box;
		border: 1px solid transparent;
		// &:hover{
		// 	border: 1px solid #fff;
		// }
		&_active{
			border: 1px solid #fff;
		}
	}
	&__link{
		display: block;
		padding: 12px 42px;
		color: #000;
	}
}
.logo{
	position:absolute;
	height:130px;
	width:160px;
	left:50%;
	transform:translate(-50%, 0);
	z-index: 1;
	&_footer{
		left:0;
		transform: none;
		bottom:0;
		height: 110px;
    	width: 136px;
	}
	&__link{
		display:block;
	}
	&_head{
		top:0px;
	}
}
.search-form{
	display:inline-block;
	vertical-align: top;
	&__wrapper{
		position: relative;
		height: 47px;
		font-size: 15px;
	}
	&__text{
		color: #aaa;
		font-size: 13px;
		height: 100%;
		width: 295px;
		box-sizing:border-box;
	    padding: 5px 45px 5px 3%;
		background-color: #fff;
		border: none;
	}
	&__submit{
		position: absolute;
	    top: 50%;
	    right: 0;
	    height: 24px;
	    width: 37px;
		transform: translate(0, -50%);
		border: none;
		padding: 0;
		background: url(../img/ico.png) no-repeat 0 -41px;
		font-size: 0;
	}
}
.reservation {
    position: relative;
	height: 47px;
    z-index: 1;
	box-sizing: border-box;
}
/*promo*/
.promo{
	position: relative;
	margin: -137px 0 0 0;
	text-align:center;
	&__images{
		display: block;
		width: 100%;
	}
}
.slogan{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.36);
	padding: 0 0 55px 0;
	text-align: center;
	&__title{
		position: relative;
		color: #fff;
		font-size: 55px;
		font-weight: 700;
		margin: 0 0 17px 0;
		&:after{
			content: '';
			position: absolute;
			bottom: 100%;
			left:50%;
			width: 221px;
			height: 54px;
			transform: translate(-50%, 0);
			background: url(../img/slogan.png) no-repeat 0 0;
		}
	}
	&__description{
		position: relative;
		display: inline-block;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-transform:uppercase;
		z-index: 1;
		background: url(../img/promo_arrow.png) no-repeat center 40px;
		padding: 0 0 40px 0;
		&:after, &:before{
			content: '';
			position: absolute;
			bottom: 50%;
			margin: 0 0 20px 0;
			width: 63px;
			height: 1px;
			//transform: translate(0, -50%);
			background: #fff;
		}
		&:after{
			left:-75px;
		}
		&:before{
			right:-75px;
		}
	}
}
/**/
/*maintenance*/
.maintenance{
	font-size: 0;
	margin: -35px auto 0;
	position: relative;
	z-index: 1;
}
.service{
	display:inline-block;
	width:25%;
	padding: 5px;
	font-size: 0px;
	box-sizing:border-box;
	vertical-align: top;
	&__images{
		max-width: 100%;
		display: inline-block;
		margin: 0 auto;
	}
	&__title{
		color: #3e3e3e;
		padding: 8px 0 8px 14px;
		font-size: 18px;
		font-weight: 600;
		background: #ffc442;
	}
}
/**/
/*landmark*/
.landmark{
	text-align:left;
	padding: 0 0 0 320px;
	margin: 35px auto 0;
	box-sizing: border-box;
	background: url(../img/bell.png) no-repeat -17px 84px;
	&__title{
		color: #595959;
		font-size: 45px;
		font-weight: 700;
		margin: 0 0 38px 0;
	}
	&__description{
    	margin: 0 0 40px 0;
		text-align: left;
		p{
			color: #737373;
			font-size: 17px;
			font-weight: 400;
			line-height: 25px;
			margin: 0 0 25px 0;
		}
	}
}
/**/
/*photo*/
.photo{
	margin: 70px auto 50px;
}
.slider{
	&__item{
		text-align: center;
	}
	&__images{
		@extend %img;
	}
}
/**/
/*review*/
.review{
	font-size:0;
	&__container{
		display:inline-block;
		vertical-align: top;
		width:50%;
		font-size:14px;
		box-sizing: border-box;
		&_right{
			padding: 0 0 0 10px;
		}
	}
	&__title{
		color: #595959;
		font-size: 45px;
		font-weight: 700;
		padding: 0 0 40px 0;
	}
}
.recall{
	position: relative;
	font-size:0;
	margin: 0 0 25px 0;
	padding: 0 0 0 15px;
	&__photo{
		display:inline-block;
		width:70px;
		vertical-align: top;
		margin: 5px 0 0 0;
		@extend %img;
	}
	&__content{
		position: relative;
		display: inline-block;
		width: 83%;
	    padding: 0 0 0 25px;
	    color: #737373;
	    font-size: 17px;
	    line-height: 25px;
	    font-weight: 400;
	    box-sizing: border-box;
		text-align: left;
}
	&__author{
		display:inline-block;
		font-weight: 700;
	}
	&__date{
		display:inline-block;
	}
	&__text{
		margin: 5px 0 0 0;
		p{

		}
	}
	&__rating{
		position: absolute;
		top: 0;
		right: 0;
		width: 118px;
		height:18px;
		background: url(../img/rating_button.png) no-repeat 0px 0px;
	}
}
.feedback{
    margin: -5px 0 0 55px;
    padding: 0;
	line-height: 1;
	&__item{
		text-align:left;
	}
	&__title{
		display:block;
		color: #737373;
		font-size: 17px;
		font-weight: 400;
		line-height: 25px;
		span{
			//vertical-align: super;
		}
	}
	&__field{
	    display: block;
		width: 100%;
		margin: 10px 0;
		border: 1px solid #BABABA;
		height: 45px;
		line-height: 45px;
		font-size: 16px;
		text-indent: 10px;
		box-sizing: border-box;
	}
	&__textarea{
		display: block;
		width:100%;
		max-width: 100%;
		border: 1px solid #BABABA;
		height:135px;
		margin: 10px 0 18px 0;
		box-sizing: border-box;
	}
}
/**/
/*maps*/
#map-canvas{
	height: 630px;
	width: 100%;
	margin: 100px 0 0 0;
}
/**/
/*footer*/
.footer{
	position: relative;
	&__container-top{
		height: 90px;
		background: #ffaf00;
		text-align: right;

	}
	&__container-bottom{
		height: 40px;
		background: #595959;
	}
}
.menu-footer{
	 display: table-cell;
	 vertical-align: middle;
	&__item{
		 display: inline-block;
		 border-left: 1px solid #fff;
		 padding: 0 25px 0 35px;
		 &:last-child{
			 padding: 0 0 0 35px;;
		 }
		 &:first-child{
			 border: none;
		 }
	}
	&__link{
		display: block;
		color: #fff;
		font-size: 18px;
		font-weight: 400;

	}
}
.copyright{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
	&__content{

	}
}
@media screen and (max-width: 1217px){
	.wraper{
		width: auto;
		padding: 0 15px;
		&_footer-top {
			width: 100%;
		}
		&.landmark{
			padding: 0 0 0 320px;
		}
		&_maintenance {
			padding: 0 5px;
		}
	}
}
@media screen and (max-width: 1050px){
	.service__title {
		font-size: 16px;
	}
}
@media screen and (max-width: 992px){
	html, body {
		height: 100%;
	}
	.head{
		height: 50%;
		background: url(../img/promo.jpg) no-repeat 50% 0;
		background-size: cover;
	}
	.logo_head{
		left: 0;
		transform: none;
	}
	.wraper_contact {
		text-align: right;
	}
	.menu {
		text-align: right;
		&__container{
			display: block;
		}
		&__link {
		    padding: 10px 42px;
		}
	}
	.reservation{
		padding: 45px 15px 0 15px;
	}
	.promo {
		&__images{
			display: none;
		}
	}
	.slogan{
		&__title{
			font-size: 45px;
		}
	}
	.landmark{
		background: none;
		text-align: center;
		&.wraper{
			padding: 0 10px;
		}
		&__title{
			font-size: 45px;
		}
	}
	.service__title {
		height: 48px;
	}
	.review__container{
		width: 100%;
		text-align: center;
		&_right{
			padding: 0;
		}
	}
	.recall{
		padding: 0;
		&__photo{
    		position: absolute;
			top: 0;
			left: 0;
		}
		&__content{
			width: 100%;
			padding: 0 0 0 95px;
		}
	}
	#map-canvas {
    	height: 440px;
	}
	.menu-footer__item {
    	padding: 0 25px 0 20px;
	}
	.feedback {
		margin: 0;
	}
}
@media screen and (max-width: 768px){
	.head {
    	height: 100%;
	}
	.reservation {
    	padding: 35px 10px 0 10px;
	}
	.adress {
		display: none;
	}
	.slogan{
		padding: 0 0 10px 0;
		&__title{
			span{
				display: block;
			}
		}
	}
	.maintenance {
		margin: 0 auto;
	}
	.footer__container-top{
		display: none;
	}
	.service {
		width: 50%;
		&__title {
			height: auto;
			padding:8px 0 8px 8px;
		}
		&__images{
			width: 100%;
		}
	}
}
@media screen and (max-width: 640px){
	.slogan__title{
		font-size: 35px;
	}
	.reservation.wraper{
		text-align: center;
	}
	.menu__link {
    	padding: 12px;
	}
	.search-form{
		display: none;
	}
	.landmark {
		margin: 25px auto 0;
		&__title {
			font-size: 35px;
			margin: 0 0 25px 0;
		}
	}
	.photo {
    	margin: 45px auto 25px;
	}
	.review__title {
		font-size: 35px;
		padding: 0 0 25px 0;
	}
	#map-canvas {
		margin: 25px 0 0 0;
	}
}
@media screen and (max-width: 480px){
	%justify {
	  text-align:justify;
	  font-size: 0;
	  line-height: 0;
	  &:after {
		  width: 100%;
		  height: 0;
		  visibility: hidden;
		  overflow: hidden;
		  content: '';
		  display: inline-block;
	  }
	}
	.logo {
    	height: 65px;
    	width: 80px;
	}
	.contact{
		height: 65px;
		&__item {
			line-height: 68px;
		}
	}
	.menu {
		&__container{
			display: block;
			@extend %justify;
		}
		&__item{
			font-size: 16px;
		}
	}
	.service {
		padding: 3px;
		&__title{
			font-size: 14px;
		}
	}
	.landmark__description p{
		font-size: 16px;
		margin: 0 0 15px 0;
	}
	.recall__content {
		font-size: 16px;
	}
	.footer .wraper {
		text-align: center;
	}
	.footer__container-bottom {
		height: auto;
	}
	.copyright {
		display: block;
		line-height: 30px;
	}
	.contact-phone_footer {
		line-height: 30px;
	}
}
@media screen and (max-width: 420px){
	.service__title {
	    font-size: 14px;
	    height: 36px;
	    padding: 4px;
	    text-align: center;
	}
	.button{
		width: 100%;
		min-width: 0;
	}
	.recall{
		&__photo {
			display: none;
		}
		&__content{
			padding: 0;
		}
	}
}
@media screen and (max-width: 370px){
	.landmark {
		&__title {
			font-size: 30px;
		}
	}
	.review__title {
		font-size: 30px;
	}
}
@media screen and (max-width: 960px) and (orientation: landscape){
	.head {
		height:500px;
	}
}
