@charset "UTF-8";
html, body, ul, li, p, img, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 0.5s ease; }

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle; }

.case__images, .make, .banner {
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 2, 0.2); }

.justify {
  text-align: justify;
  font-size: 0;
  line-height: 0; }
  .justify:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block; }

.wrapper {
  width: 765px;
  margin: 0 auto;
  font: normal 14px/20px "PT Sans", sans-serif;
  background: #fff;
  background: url(../img/bg-body.jpg) repeat 127px 0; }

.caption {
  font-size: 26px;
  text-align: center; }

/*header*/
.head {
  position: relative; }

.time {
  background: #585759;
  color: #fff;
  text-align: center; }
  .time__content {
    height: 25px;
    line-height: 25px;
    font-size: 17px; }
    .time__content strong {
      font-size: 18px; }

.head__content {
  padding: 15px 10px;
  box-sizing: border-box;
  height: 82px; }

.logo {
  display: inline-block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle; }

.button-phone {
  display: inline-block;
  width: 25%;
  background: #d20202;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  padding: 5px 10px;
  font-size: 20px;
  word-spacing: 150px;
  text-align: center;
  vertical-align: top; }

.mobile-navigation {
  position: relative;
  width: 765px;
  z-index: 2;
  height: 41px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.mobile-wraper {
  position: relative;
  width: 765px;
  z-index: 2;
  height: 40px; }

/*mobile menu top*/
.mobile-menu {
  position: relative;
  width: 100%;
  z-index: 104;
  background: #230B0D;
  margin: 0;
  padding: 0;
  /* height: 40px; */
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #c3c3c3;
  box-sizing: border-box; }

.mobile-menu li {
  list-style: none;
  height: 40px;
  border-left: solid 1px #FFFFFF;
  line-height: 0;
  box-sizing: border-box;
  vertical-align: top; }

.mobile-menu li:first-child {
  border-left: none; }

.mobile-menu i {
  font-size: 30px;
  line-height: 40px;
  vertical-align: middle;
  color: #fff; }

.mobile-menu__toogle {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  position: relative;
  text-align: center; }

.mobile-menu__toogle i {
  font-size: 22px; }

.mobile-menu span {
  color: #FFF;
  line-height: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  vertical-align: middle;
  padding: 0 0 0 10px; }

.mobile-menu__phone {
  display: inline-block;
  width: 32%; }

.mobile-menu__cart {
  display: inline-block;
  width: 32%; }

.mobile-menu__name {
  padding: 0 0 0 30px;
  position: relative; }

.header .menu.open-sidebar {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  -webkit-transform: translate(0, 0); }

/*Кнопка меню*/
.mobilepanel_toggle span, .mobilepanel_toggle span:after, .mobilepanel_toggle span:before {
  width: 24px;
  height: 4px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px; }

.mobilepanel_toggle {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -25px;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: none;
  border: none;
  padding: 0;
  outline: none;
  outline-offset: 0;
  -webkit-appearance: none; }
  .mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    transition: all 0.3s ease;
    box-sizing: border-box; }
    .mobilepanel_toggle span:after {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      transition: all 0.3s ease;
      -webkit-transform-origin: 1.71429px center;
          -ms-transform-origin: 1.71429px center;
              transform-origin: 1.71429px center; }
    .mobilepanel_toggle span:before {
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      transition: all 0.3s ease;
      -webkit-transform-origin: 1.71429px center;
          -ms-transform-origin: 1.71429px center;
              transform-origin: 1.71429px center; }
  .mobilepanel_toggle.active span {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg); }
    .mobilepanel_toggle.active span:before {
      top: 0;
      width: 15px;
      -webkit-transform: rotate3d(0, 0, 1, -40deg);
              transform: rotate3d(0, 0, 1, -40deg); }
    .mobilepanel_toggle.active span:after {
      top: 0;
      width: 15px;
      -webkit-transform: rotate3d(0, 0, 1, 40deg);
              transform: rotate3d(0, 0, 1, 40deg); }

/**/
/*mobile left menu*/
.vertical-menu {
  display: block;
  padding: 10px 25px;
  transition: 0.5s ease;
  box-sizing: border-box;
  background: #230B0D;
  color: #fff; }
  .vertical-menu__item {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 35px; }
  .vertical-menu__link {
    display: block;
    font-weight: 400;
    position: relative;
    margin-right: 35px;
    font-size: 15px;
    color: #fff; }
  .vertical-menu.open-sidebar {
    display: block;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
  .vertical-menu_mobile {
    display: none;
    position: absolute;
    left: 0;
    top: 39px;
    width: 300px;
    z-index: 101;
    -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1); }

.vertical-submenu {
  display: none;
  padding: 0 0 0 18px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .vertical-submenu__item {
    position: relative;
    list-style-type: disc;
    line-height: 30px; }
  .vertical-submenu__link {
    color: #fff; }

.submenu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font: 400 10px/30px "FontAwesome";
  text-align: center;
  border-radius: 50%;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .submenu-toggle:after {
    content: '\f078';
    box-sizing: border-box; }
  .submenu-toggle.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

/**/
/*mobile phone menu*/
.phone {
  display: none;
  box-sizing: border-box;
  background: #230B0D;
  padding: 10px 15px 15px 15px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .phone__number, .phone__city, .phone .email, .phone .email__number {
    display: inline-block;
    font-size: 18px;
    line-height: 1.2;
    color: #fff; }
  .phone__number, .phone .email__number {
    font-weight: 600; }
  .phone__item {
    padding: 5px 0; }

/*Catalog*/
.catalog {
  font-size: 0; }

.catalog-photo .slide-photo__image {
  padding: 3px; }

.caption_catalog {
  padding: 30px 0 20px 0;
  font-size: 27px;
  line-height: 1; }

.case {
  display: inline-block;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
  vertical-align: top; }
  .case__item {
    font-size: 16px; }
  .case__images {
    display: inline-block;
    vertical-align: middle; }
  .case__header {
    font-size: 20px;
    color: #444;
    padding: 10px 0 30px 0; }

.manufacture {
  padding: 0; }

.make {
  width: 100%;
  padding: 0 0 0 15px;
  margin: 25px 0;
  box-sizing: border-box;
  background: url(../img/bg-make.jpg) repeat-x 0 0;
  background-size: contain; }
  .make__link {
    display: block;
    position: relative;
    text-align: right; }
  .make__caption {
    line-height: 1.2;
    font-size: 26px;
    color: #3a393a;
    position: absolute;
    left: 0;
    width: 58%;
    text-align: left;
    top: 50%;
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%); }
  .make__images {
    display: inline-block; }

/*baner*/
.container-banner, .manufacture {
  margin: 25px 20px 0 20px; }

.banner {
  display: inline-block;
  width: 48%;
  margin: 0 0 25px 0;
  background: url(../img/bg-banner-sale.jpg) repeat-x 0 0;
  background-size: 100%;
  line-height: 20px;
  padding: 20px 15px;
  text-align: center;
  box-sizing: border-box; }
  .banner__title {
    font-size: 20px;
    color: #595659;
    font-weight: 700;
    margin: 0 0 10px; }
  .banner__content p {
    font-size: 25px;
    color: #595659;
    margin: 0;
    line-height: 24px; }
  .banner__content em {
    font-size: 24px;
    text-transform: uppercase;
    color: #ee3c34;
    font-style: normal;
    font-weight: 700;
    vertical-align: top; }
  .banner__content strong {
    font-size: 46px;
    color: #3a393a;
    font-weight: 700; }

/**/
.slider {
  margin: 0 25px;
  text-align: center; }

/*Object*/
.object {
  background: url(../img/bg-listings.jpg) repeat 0 0;
  padding: 25px 0 0 0;
  border-top: 1px solid #e9e9e9; }

.caption_object {
  padding: 0px 0 25px 0; }

.slide-object__caption {
  font-size: 20px;
  color: #444;
  font-weight: 700;
  padding: 10px 0 5px 0;
  box-sizing: border-box; }

/**/
/*Photo*/
.photo {
  background: url(../img/bg-gallery.jpg) repeat 0 0; }

.caption_photo {
  padding: 20px 0 25px 0; }

.photo-link {
  display: inline-block; }

/**/
/*Advance*/
.advance {
  background: url(../img/bg-certificat.jpg) repeat 0 0;
  padding: 0 0 25px 0; }

.caption_advance {
  padding: 25px 0 25px 0; }

.slide-advance {
  text-align: center; }

/**/
/*Advice*/
.caption_advice {
  font-weight: 700;
  color: #1f1f1f;
  margin: 0 0 25px 0; }

.advice {
  border-top: 1px solid #D8D8D8;
  background: #ECECEC;
  padding: 25px 0;
  box-sizing: border-box;
  text-align: center; }
  .advice__form {
    display: inline-block;
    background: #F2F2F2;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px 30px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    width: 310px;
    font-size: 20px;
    color: #040205;
    box-sizing: border-box; }
  .advice__item {
    margin-bottom: 15px; }
    .advice__item-input-box {
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      background: #fff;
      height: 32px;
      line-height: 32px;
      margin: 5px 0;
      width: 98.8%;
      text-indent: 10px; }
  .advice__submit-button {
    background: #CF0B16;
    color: #fff;
    text-align: center;
    border: none;
    height: 41px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 2px; }

/*about*/
.about {
  border-top: 1px solid #D8D8D8;
  background: #FAFCFB;
  padding: 25px 20px;
  box-sizing: border-box;
  text-align: justify; }
  .about__content {
    font-size: 16px; }

.caption_about {
  margin: 0 0 25px 0; }

/**/
/**/
/*footer*/
.footer {
  background: url(../img/bg-footer2.png) repeat 0 0;
  padding: 25px; }

.social {
  display: inline-block;
  vertical-align: middle; }
  .social__link {
    margin: 0 15px 0 0; }

.copyright {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 15px 0 0 0; }
  .copyright a {
    color: #fff;
    text-decoration: underline; }

/**/
/*item catalog*/
.product {
  padding: 10px 10px 15px 10px; }

.product .photo {
  background: none; }

.extra-options {
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 0px -1px 2px #c07c2d;
  display: block;
  text-align: left;
  vertical-align: top; }

.hit {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2px 10px 2px 5px;
  background: url(../img/bg-hit.png) 100% 0 no-repeat;
  background-size: cover;
  vertical-align: top; }

.new {
  display: inline-block;
  margin-left: -15px;
  padding: 2px 10px 2px 10px;
  background: url(../img/bg-new-2.png) 100% 0 no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0; }

/*breadcrumb*/
.breadcrumb {
  display: block;
  font-size: 18px;
  padding: 0 0 13px 0; }
  .breadcrumb__item {
    display: inline-block;
    position: relative; }
    .breadcrumb__item:after {
      content: "\f105";
      font-family: 'FontAwesome'; }
    .breadcrumb__item_active:after {
      display: none; }
    .breadcrumb__item_cart:before {
      font-family: 'FontAwesome';
      content: "\f177";
      color: #d20202;
      padding: 0 3px 0 0; }
    .breadcrumb__item_cart:after {
      content: none; }
  .breadcrumb__link {
    color: #d20202;
    text-decoration: underline; }
  .breadcrumb__name {
    color: #464646; }

/*counter*/
.calculator {
  border: 1px solid #dbdbdb;
  background: #FAFAFA;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 2, 0.2);
  margin: 20px 0 0 0;
  text-align: center;
  box-sizing: border-box; }
  .calculator__caption {
    font-size: 22px;
    line-height: 22px;
    padding: 20px 0 10px 0;
    font-weight: bold; }

.counter {
  text-align: center;
  display: inline-block;
  margin: 0 15px; }
  .counter__caption {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: left; }
  .counter__content {
    position: relative;
    height: 40px;
    width: 100px;
    padding: 0 0 0 5px; }
  .counter__field {
    height: 100%;
    width: 55px;
    padding: 0;
    margin: 0 45px 0 0;
    z-index: 1;
    display: block;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
    text-indent: 10px;
    margin: 0;
    box-sizing: border-box; }
  .counter__toogle {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 45px; }
  .counter__next, .counter__prev {
    display: inline-block;
    width: 100%;
    font-size: 21px;
    line-height: 1;
    vertical-align: top;
    text-align: center; }
  .counter__next:before {
    content: "\f0d8";
    font-family: 'FontAwesome'; }
  .counter__prev:before {
    content: "\f0d7";
    font-family: 'FontAwesome'; }

/**/
/*option*/
.checkbox-area {
  padding: 15px 50px 0 50px; }
  .checkbox-area__caption {
    font-size: 19px;
    line-height: 19px;
    font-weight: 700;
    margin: 10px 0 10px 0;
    color: #1f1f1f;
    text-align: center; }

.check-container {
  padding: 5px 0px 5px 0px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 5px 0; }

.check-container-left, .check-container-right {
  display: inline-block;
  vertical-align: top; }

.check {
  width: 30px;
  height: 30px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: top; }

.check-desc {
  display: inline-block;
  text-align: left; }

.checkbox-text {
  font-size: 18px;
  line-height: 18px; }

.checkbox-value {
  font-size: 16px;
  line-height: 18px;
  color: #555;
  margin: 0 0 9px 0; }

/*additional-desc*/
.additional-desc {
  padding: 0 50px; }
  .additional-desc__caption {
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    margin: 15px 0 10px 0;
    color: #1f1f1f; }
  .additional-desc__list {
    text-align: left;
    padding: 0 0 0 10px;
    list-style-type: disc; }
  .additional-desc__item {
    font-size: 18px;
    margin: 0 0 5px 0; }
    .additional-desc__item strong {
      font-weight: bold; }

/**/
/*price*/
.price {
  font-weight: 700;
  padding: 0 50px; }
  .price__item {
    font-size: 24px;
    line-height: 20px; }
  .price__subtitle {
    display: block;
    font-weight: 300;
    font-size: 16px; }
    .price__subtitle em {
      font-style: normal; }
  .price__caption {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    font-weight: 700;
    margin: 20px 0 10px 0;
    color: #1f1f1f; }
  .price__item {
    position: relative;
    display: inline-block;
    vertical-align: top; }
  .price__value {
    display: inline-block;
    margin: 10px 0; }
    .price__value_old {
      position: relative;
      display: inline-block;
      color: #1f1f1f; }
      .price__value_old:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 2px;
        width: 100%;
        background: #e21720; }
    .price__value_discount {
      display: block;
      color: #e51212; }
  .price__savings {
    color: #00b63d;
    margin: 10px 0px; }

.discount {
  display: inline-block;
  background: #EDEDED;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 16px;
  color: #ff483e;
  font-weight: 700;
  box-sizing: border-box;
  margin: 18px 0px 8px; }

/*availability*/
.availability {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: top;
  margin: 12px 0 0 0; }
  .availability__true {
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    color: #1f1f1f;
    background: url(../img/availability-yes.png) no-repeat 0 3px; }
  .availability__false {
    margin: 10px 0 0 0;
    color: #6AB635;
    padding: 0 0 0 20px; }

/**/
/*buy*/
.buy {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 0 0px 25px 0px; }
  .buy__add-cart {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #8ec73b;
    margin: 0 10%;
    border: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    line-height: 1; }
  .buy__now {
    display: inline-block;
    background: #595859;
    border-radius: 3px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    margin: 0 10%; }

/**/
/*cart*/
.cart-clear {
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  color: #3d3d3d;
  text-decoration: underline; }

.cart-checkbox {
  text-align: left;
  font-size: 18px;
  line-height: 23px;
  padding: 10px 0 0 0; }

.cart .counter__caption {
  display: inline-block; }

.caption_cart {
  display: inline-block;
  line-height: 1; }

.wraper_cart {
  padding: 10px; }

.lot {
  border: 1px solid #dbdbdb;
  background: #FAFAFA;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 2, 0.2);
  margin: 25px 0;
  padding: 10px;
  text-align: center;
  box-sizing: border-box; }
  .lot__caption {
    position: relative;
    padding: 0 30px 0 0;
    line-height: 1;
    font-size: 20px; }
  .lot__delete {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background: #E2E2E2;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 50%;
    color: #363636; }
    .lot__delete:after {
      content: "\f00d";
      font-family: 'FontAwesome'; }
  .lot-sizes {
    font-size: 17px;
    padding: 5px 0 0 0; }
    .lot-sizes__item {
      display: inline-block; }
  .lot-options {
    font-size: 17px;
    text-align: left;
    margin: 10px 0 10px 0;
    padding: 0 50px; }
    .lot-options__title {
      font-weight: 700;
      display: inline-block; }
    .lot-options__list {
      display: inline; }

.total-price__content {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1; }

.total-price__submit {
  background: #CF0B16;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 20px;
  font-weight: 300;
  border-radius: 2px;
  padding: 5px 6px; }

/**/
/*info-dostavka*/
.info-dostavka {
  margin: 0 10px;
  padding: 0 0 15px 10px; }
  .info-dostavka__list {
    text-align: left;
    padding: 0 0 0 10px;
    list-style-type: disc; }

/**/
/*tabs*/
.tabs {
  margin: 10px 0 0 0; }
  .tabs__item {
    font-family: "PT Sans", sans-serif;
    text-align: left; }
    .tabs__item .tabs__caption {
      font: 700 18px/22px "PT Sans", sans-serif;
      color: #1f1f1f; }
    .tabs__item .table table {
      white-space: pre; }
  .tabs__info {
    font-size: 18px; }
    .tabs__info p {
      margin: 0 0 15px 0; }
    .tabs__info ul {
      padding: 0 0 0 20px;
      list-style-type: disc; }
    .tabs__info .color {
      margin-left: 36px;
      display: inline-block; }
    .tabs__info .standart {
      background-color: #9fdf9f; }
    .tabs__info .odna {
      background-color: #fff; }
    .tabs__info .dvu {
      background-color: #fffab4; }
    .tabs__info td {
      text-align: center;
      border: 1px solid #e8e8e8;
      font-size: 12px;
      padding: 7px 5px;
      line-height: 14px; }
  .tabs__roll-up {
    display: block;
    color: #e51212;
    font-weight: 700;
    padding: 15px 0 5px 0;
    text-align: right; }

.delivery-links {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  padding-right: 9px;
  border-right: 1px solid #999; }

.color_description {
  margin: 20px 0 0 0;
  display: block;
  font-size: 15px;
  white-space: nowrap; }

.color_description .color div[class*="descr"] {
  display: inline-block;
  vertical-align: top; }

.color_description .nestand, .color_description .odna40, .color_description .odna70, .color_description .dvu54, .color_description .heigt54, .color_description .heigt48, .color_description .odna, .color_description .dvu, .color_description .standart {
  height: 27px;
  width: 90px;
  display: inline-block;
  border: 1px solid #d9d9d9; }

/**/
/*ordering*/
.ordering {
  display: none;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 2, 0.2);
  margin: 25px 10px;
  box-sizing: border-box; }
  .ordering__caption {
    font-size: 26px;
    color: #1f1f1f;
    padding-left: 45px;
    font-weight: 700;
    margin: 25px 0;
    text-align: left; }
  .ordering-container {
    padding: 0 45px 10px 45px;
    box-sizing: border-box; }
    .ordering-container__caption {
      font-size: 20px;
      color: #1f1f1f;
      padding-left: 0px;
      font-weight: 700;
      margin: 15px 0;
      text-align: left; }
    .ordering-container textarea {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100px;
      background: #fcfcfc;
      box-shadow: 0 1px 5px 0px #bababa inset;
      border: 1px solid #bababa;
      border-radius: 4px;
      font-size: 16px; }
    .ordering-container_delivery {
      border-top: 1px solid #e6e6e6;
      background: #FAFAFA;
      border-bottom: 1px solid #e6e6e6; }
    .ordering-container__payment {
      border-top: 1px solid #e6e6e6; }
  .ordering-item {
    margin: 0 0 15px 0; }
    .ordering-item__title {
      width: 20%;
      font-size: 16px;
      color: #1f1f1f; }
    .ordering-item__field {
      width: 70%;
      background: #fcfcfc;
      border: 1px solid #BABABA;
      box-shadow: 0 1px 3px 0px #bababa inset;
      border-radius: 4px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      text-indent: 10px; }
    .ordering-item__content-hidden {
      text-align: left;
      display: none; }
      .ordering-item__content-hidden p {
        display: inline-block; }
    .ordering-item__text {
      line-height: 16px;
      font-size: 16px; }
    .ordering-item__note {
      color: #797979;
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 5px; }

.payment-radio {
  display: none; }
  .payment-radio:checked ~ label .ordering-box {
    background: #FAE8E8;
    border: 1px solid #FAE8E8; }
    .payment-radio:checked ~ label .ordering-box:before {
      background-position: -80px 0; }
  .payment-radio:checked ~ .ordering-item__content-hidden {
    display: block; }

.distance-moscow {
  display: inline-block; }

.ordering-container_delivery label, .ordering-container_payment label {
  display: block; }

.ordering-box {
  position: relative;
  padding: 20px 10px 20px 50px;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #B5B5B5;
  text-align: left; }
  .ordering-box:before {
    background: url(../img/radio.png) no-repeat 0 0;
    content: '';
    position: absolute;
    top: 50%;
    margin: -12px 0 0 0;
    left: 15px;
    width: 24px;
    height: 24px; }

.other-company {
  position: relative;
  background: url(../img/bg-cart-other-company.jpg) center bottom no-repeat; }
  .other-company label {
    display: block;
    color: #1f1f1f;
    font-size: 16px;
    margin: 10px 0; }
  .other-company__text {
    width: 200px;
    margin: 0 0 30px 0; }

.selection-company-info {
  position: absolute;
  right: 7%;
  top: 50%;
  font-size: 13px;
  font-style: italic;
  color: #383838;
  width: 34%;
  line-height: 20px; }

.ordering-wraper-submit {
  margin: 20px 45px 30px 45px;
  text-align: center; }

.ordering__submit {
  display: block;
  width: 100%; }

.ordering-price {
  color: #1f1f1f; }
  .ordering-price__text {
    font-size: 20px;
    font-weight: 400;
    display: inline-block; }
  .ordering-price__value {
    font-size: 20px;
    font-weight: 700;
    display: inline-block; }

.block {
  display: block; }

.none {
  display: none; }

/**/
@media screen and (max-width: 768px) {
  .vertical-menu {
    display: block; }
  .mobile-navigation {
    width: 100%; }
  .wrapper {
    width: auto; }
  .menu {
    display: block; } }

@media screen and (max-width: 620px) {
  .price, .lot-options {
    padding: 0 20px; }
  .checkbox-area {
    padding: 15px 10px 0 10px; }
  .additional-desc {
    padding: 0 10px; }
    .additional-desc__list {
      margin: 0 0 0 9px; }
  .ordering__caption {
    padding: 0;
    text-align: center; }
  .ordering-container {
    padding: 0 10px 10px 10px; }
    .ordering-container__caption {
      text-align: center; } }

@media screen and (max-width: 600px) {
  .banner__title {
    font-size: 18px; }
  .banner__content p {
    font-size: 19px; }
  .banner__content em {
    font-size: 20px; }
  .banner__content strong {
    font-size: 30px; } }

@media screen and (max-width: 540px) {
  .product {
    padding: 5px 8px 15px 8px; }
  .breadcrumb {
    font-size: 16px;
    padding: 0 0 9px 0; }
  .extra-options {
    font-size: 16px;
    line-height: 19px; }
  .caption_catalog {
    padding: 20px 0 15px 0;
    font-size: 23px; }
  .calculator__caption {
    font-size: 18px;
    line-height: 18px;
    padding: 15px 0 10px 0; }
  .counter {
    margin: 0 8px; }
    .counter__caption {
      font-size: 16px; }
    .counter__content {
      height: 35px; }
    .counter__field {
      line-height: 35px;
      font-size: 18px; }
    .counter__next, .counter__prev {
      font-size: 19px;
      line-height: 1; }
  .discount {
    margin: 16px 0px 8px; }
  .checkbox-area__caption {
    font-size: 18px;
    line-height: 18px; }
  .checkbox-text {
    font-size: 16px;
    line-height: 17px; }
  .checkbox-value {
    font-size: 15px;
    line-height: 17px; }
  .additional-desc__caption {
    font-size: 18px;
    line-height: 18px; }
  .additional-desc__item {
    font-size: 16px;
    margin: 0 0 5px 0;
    line-height: 1.1; }
  .price__item {
    font-size: 22px;
    line-height: 18px; }
  .price__subtitle {
    font-size: 14px; }
  .buy__now, .buy__add-cart {
    margin: 0 6%; }
  .availability {
    font-size: 19px;
    line-height: 19px; }
  .tabs__item .tabs__caption {
    font-size: 17px;
    line-height: 21px; }
  .tabs__item .tabs__info {
    font-size: 16px;
    padding: 10px 20px; } }

@media screen and (max-width: 480px) {
  .make__images {
    width: 48%; }
  .make__caption {
    font-size: 20px; }
  .mobile-menu span {
    font-size: 20px; }
  .time__content {
    height: 25px;
    line-height: 25px;
    font-size: 15px; }
    .time__content strong {
      font-size: 15px; }
  .button-phone {
    font-size: 18px; }
  .banner {
    width: 100%; }
  .advice__form {
    width: 270px; }
  .advice__submit-button {
    font-size: 17px; }
  .total-price__submit {
    font-size: 16px; }
  .total-price__content {
    font-size: 19px; }
  .logo {
    width: 59%; }
  .social {
    width: 41%;
    text-align: right; }
    .social__link {
      padding: 0 5px 0 0;
      box-sizing: border-box;
      margin: 0; }
  .footer {
    padding: 25px 5px; }
  .copyright__item {
    line-height: 1.2;
    font-size: 14px; }
  .price__subtitle em {
    display: block; }
  .discount {
    margin: 20px 0px 23px 0px; } }

@media screen and (max-width: 420px) {
  .caption {
    font-size: 20px; }
  .breadcrumb {
    font-size: 14px;
    line-height: 16px; }
  .extra-options {
    font-size: 15px;
    line-height: 18px; }
  .calculator__caption {
    padding: 10px 0 10px 0; }
  .counter {
    margin: 0 2px; }
    .counter__caption {
      font-size: 13px; }
    .counter__content {
      width: 85px;
      padding: 0; }
    .counter__toogle {
      width: 30px; }
  .checkbox-area {
    padding: 20px 10px 15px 15px; }
  .checkbox-area__caption {
    font-size: 17px;
    line-height: 17px; }
  .checkbox-text {
    font-size: 15px;
    line-height: 15px; }
  .checkbox-value {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 5px 0; }
  .additional-desc__caption {
    font-size: 17px;
    line-height: 17px;
    margin: 10px 0; }
  .price {
    padding: 0 3px; }
    .price__item {
      text-align: center;
      vertical-align: bottom;
      font-size: 17px; }
    .price_cart {
      padding: 0; }
  .cart-clear {
    font-size: 15px; }
  .info-dostavka {
    margin: 0 10px;
    padding: 0 0 15px 10px;
    font-size: 13px;
    line-height: 16px; }
  .tabs__item .tabs__info {
    font-size: 15px;
    padding: 10px 10px; }
  .lot {
    margin: 15px 0;
    padding: 10px 5px; }
    .lot__caption {
      font-size: 16px;
      line-height: 1; }
    .lot-sizes {
      font-size: 14px;
      padding: 0; }
    .lot-options {
      margin: 10px 0 6px 0;
      padding: 0;
      border: 1px dotted #dbdbdb;
      border-left: none;
      border-right: none;
      font-size: 14px; }
  .cart .counter__content {
    width: 70px;
    height: 28px; }
  .cart .counter__field {
    width: 40px;
    line-height: 28px;
    font-size: 18px; }
  .cart .counter__toogle {
    line-height: 14px; }
  .cart .counter__next, .cart .counter__prev {
    font-size: 14px; }
  .cart .price__value, .cart .price__savings {
    margin: 10px 0 0 0; }
  .ordering__caption {
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin: 15px 0; }
  .ordering-item {
    margin: 0 0 10px 0; }
    .ordering-item__title {
      width: auto;
      font-size: 14px; }
    .ordering-item__field {
      height: 28px;
      line-height: 28px; }
    .ordering-item__text {
      line-height: 14px;
      font-size: 14px; }
  .ordering-box {
    position: relative;
    padding: 15px 3px 15px 33px; }
    .ordering-box:before {
      left: 3px; }
  .ordering-price__value {
    font-size: 16px; }
  .ordering-price__text {
    font-size: 16px; }
  .ordering-container__caption_payment {
    margin: -5px 0 15px 0; }
  .ordering-container textarea {
    height: 70px; }
  .ordering-wraper-submit {
    margin: 5px 45px 15px 45px; }
  .other-company label {
    font-size: 14px;
    margin: 5px 0; }
  .selection-company-info {
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); } }

@media screen and (max-width: 396px) {
  .phone__number, .phone__city, .phone .email, .phone .email__number {
    font-size: 16px;
    line-height: 1; }
  .phone__number, .phone .email__number {
    font-weight: 300; }
  .make {
    padding: 0 0 0 10px; }
    .make__caption {
      font-size: 18px; }
  .caption_advice {
    padding: 0 30px;
    box-sizing: border-box; }
  .mobilepanel_toggle {
    left: -20px; }
  .mobile-menu__toogle {
    padding: 0 0 0 15px; }
  .caption_catalog {
    font-size: 22px; }
  .case__header, .slide-object__caption {
    font-weight: 300;
    font-size: 18px; }
  .buy__now, .buy__add-cart {
    margin: 0 1%; }
  .availability {
    font-size: 16px; }
  .discount {
    padding: 7px 5px; }
  .wraper_cart {
    padding: 10px 5px; } }

@media screen and (max-width: 320px) {
  .case__header, .slide-object__caption {
    font-size: 16px;
    font-weight: 600; }
  .counter .checkbox-text {
    font-size: 15px;
    line-height: 15px; }
  .counter .checkbox-value {
    font-size: 14px;
    line-height: 14px; }
  .counter .additional-desc__caption {
    font-size: 16px;
    line-height: 16px; }
  .counter .additional-desc__item {
    font-size: 15px; }
  .additional-desc__item {
    font-size: 15px; }
  .availability {
    font-size: 17px;
    line-height: 17px; } }

/**/

/*# sourceMappingURL=../../xamer_luki/css/main.css.map */