//font-family: 'Roboto', sans-serif;
//font-family: 'PT Sans', sans-serif;
//font-family: 'PT Sans Narrow', sans-serif;
html, body, ul, li, p, img, h1, h2, h3, h4 {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
  text-decoration: none;
  transition:0.5s ease;
}
img{
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
$width-full:1680;

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@function percent($pixels) {
  @return #{($pixels/$width-full)*100%}
}
%border{
	border: 1px solid #dbdbdb;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 2, 0.2);
}
%clear{
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}

.justify {
	text-align:justify;
	font-size: 0;
	line-height: 0;
	&:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
}
.wrapper{
	width: 765px;
	margin: 0 auto;
    font: normal 14px / 20px 'PT Sans', sans-serif;
	background: #fff;
	background: url(../img/bg-body.jpg) repeat 127px 0;
}
.caption {
	font-size: 26px;
	text-align: center;
}
/*header*/
.head{
	position:relative;
}
.time{
	background: #585759;
    color: #fff;
	text-align: center;
	&__content {
		height: 30px;
    	line-height: 30px;
		font-size: 17px;
		strong {
			font-size: 18px;
		}
	}
}
.head__content{
	padding: 15px 10px;
	box-sizing: border-box;
	height: 82px;
}
.logo{
	display: inline-block;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 0;
	vertical-align: middle;
}
.button-phone {
    display: inline-block;
    width: 25%;
    background: #d20202;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    padding: 5px 10px;
    font-size: 20px;
    word-spacing: 150px;
    text-align: center;
	vertical-align: top;
}
.mobile-wraper{
	position: relative;
	width: 765px;
	z-index: 2;
}
/*mobile menu top*/
.mobile-menu {
	position: relative;
	width: 100%;
	z-index: 104;
	background: #230B0D;
	margin: 0;
	padding: 0;
	height: 40px;
	color:#fff;
	text-align: center;
	border-bottom: 1px solid #c3c3c3;
}
.mobile-menu li{
	list-style:none;
	height: 40px;
	border-left: solid 1px #FFFFFF;
	line-height: 0;
	box-sizing: border-box;
	vertical-align: top;
}
.mobile-menu  li:first-child{
	border-left: none;
}
.mobile-menu i{
	font-size: 30px;
	line-height: 40px;
	vertical-align: middle;
}
.mobile-menu__toogle{
	display:inline-block;
	width: 32%;
	vertical-align: top;
	position: relative;
	text-align: center;
}
.mobile-menu__toogle i{
    font-size: 22px;
}
.mobile-menu span{
	color: #FFF;
	line-height: 40px;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	vertical-align: middle;
	padding: 0 0 0 10px;
}
.mobile-menu__phone{
	display:inline-block;
	width: 32%;
}
.mobile-menu__cart{
	display:inline-block;
	width: 32%;
}
.mobile-menu__name {
	padding: 0 0 0 30px;
	position: relative;
}
.header .menu.open-sidebar {
    transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
/*Кнопка меню*/
.mobilepanel_toggle {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
    left: -25px;
    width: 30px;
    height: 30px;
}
.mobilepanel_toggle span {
    transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.mobilepanel_toggle span:after, .mobilepanel_toggle span:before, .mobilepanel_toggle span {
    width: 24px;
    height: 4px;
    background-color: #fff;
    backface-visibility: hidden;
    border-radius: 2px;
}
.mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.mobilepanel_toggle span:after, .mobilepanel_toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    transition: all 0.3s ease;
}
.mobilepanel_toggle span:after {
    top: 8px;
}
.mobilepanel_toggle span:before, .mobilepanel_toggle span:after {
    transform-origin: 1.71429px center;
	-webkit-transform-origin: 1.71429px center;
}
.mobilepanel_toggle.active span {
    transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.mobilepanel_toggle.active span:before {
    transform: rotate3d(0, 0, 1, -40deg);
	-webkit-transform: rotate3d(0, 0, 1, -40deg);
}
.mobilepanel_toggle.active span:after {
    transform: rotate3d(0, 0, 1, 40deg);
	-webkit-transform: rotate3d(0, 0, 1, 40deg);
}
.mobilepanel_toggle.active span:before, .mobilepanel_toggle.active span:after {
    top: 0;
    width: 15px;
}
/**/
/*mobile left menu*/
.menu {
    display: none;
    position: absolute;
    z-index: 101;
    left: 0;
    top: 41px;
	width: 300px;
    height: auto;
    transition: 0.5s ease;
	transform: translate(-110%, 0);
	-webkit-transform: translate(-110%, 0);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
	background: #230B0D;
	color:#fff;
}
.uk-container {
    padding: 0 25px;
}
.menu li {
	position: relative;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
.menu li a {
    padding: 0 30px 0 0;
    height: 35px;
    font-weight: 400;
    line-height: 35px;
    position: relative;
    margin-right: 20px;
	font-size: 15px;
	color:#fff;
	display: inline;
}
.uk-dropdown {
    display: block;
    padding: 0px 0 0 30px;
	box-sizing: border-box;
    transition: 0.4s ease;
	height:0;
	width:0;
	overflow:hidden;
}
.uk-dropdown.active a {
    line-height: 1;
}
.uk-dropdown.active{
	width:300px;
}
.dropdown-store.active{
	height:215px;
}
.dropdown-installation.active{
	height:90px;
}
.dropdown-about.active{
	height:60px;
}
.dropdown-payment.active{
	height:43px;
}
.menu li .uk-dropdown li {
    list-style-type: disc;
	line-height: 30px;
}
.menu.open-sidebar {
    display: block;
    transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
.menu li a.active~.rd-submenu-toggle {
    transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.rd-submenu-toggle {
    position: absolute;
    top: 5px;
    right: 0px;
    //margin-top: -17.5px;
    width: 32px;
    height: 32px;
    font: 400 10px "FontAwesome";
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s all ease;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.rd-submenu-toggle:after {
    content: '\f078';
    box-sizing: border-box;
}
/**/
/*mobile phone menu*/
.phone{
	display: none;
	//position: absolute;
   // width: 100%;
    box-sizing: border-box;
	background: #230B0D;
	padding: 10px 15px 15px 15px;
	&__number, &__city, .email, .email__number {
		display: inline-block;
		font-size:18px;
		line-height:1.2;
		color:#fff;
	}
	&__number, .email__number{
		font-weight:600;
	}
	&__item {
		padding: 5px 0;
	}
}
/*Catalog*/
.catalog {
	font-size: 0;
}
.caption_catalog {
    padding: 20px 0;
    font-size: 26px;
}
.case {
    display: inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
	padding: 0 10px;
	vertical-align: top;
	&__item{
    	font-size: 16px;
	}
	&__images {
		@extend %border;
		display: inline-block;
		vertical-align: middle;
	}
	&__header {
	    font-size: 20px;
	    color: #444;
	    padding: 10px 0 30px 0;
	}
}
.manufacture{
	padding: 0;
}
.make{
	width: 100%;
	//height: 140px;
	@extend %border;
	padding: 0 0 0 15px;
	margin: 25px 0;
	box-sizing: border-box;
	background: url(../img/bg-make.jpg) repeat-x 0 0;
	background-size: contain;
	&__link{
		display: block;
		position: relative;
		text-align: right;
	}
	&__caption{
		//display: inline-block;
		//vertical-align: middle;
		line-height: 1.2;
		font-size: 26px;
		color: #3a393a;
		position: absolute;
		left: 0;
		width: 58%;
		text-align: left;
		top: 50%;
		transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		//background: url(../img/bg-make.jpg) repeat-x 0 0;
		//background-size: contain;
	}
	&__images{
		display: inline-block;
	}
}
/*baner*/
.container-banner, .manufacture {
    margin: 25px 20px 0 20px;
}
.banner{
	@extend %border;
	display: inline-block;
	width: 48%;
	margin: 0 0 25px 0;
	background: url(../img/bg-banner-sale.jpg) repeat-x 0 0;
	background-size: 100%;
	line-height: 20px;
	padding: 20px 15px;
	text-align: center;
	box-sizing: border-box;
	&__title{
		font-size: 20px;
	    color: #595659;
	    font-weight: 700;
	    margin: 0 0 10px;
	}
	&__content {
		p{
			font-size: 25px;
		    color: #595659;
		    margin: 0;
		    line-height: 24px;
		}
		em{
			font-size: 24px;
			text-transform: uppercase;
			color: #ee3c34;
			font-style: normal;
			font-weight: 700;
			vertical-align: top;
		}
		strong {
		    font-size: 46px;
		    color: #3a393a;
		    font-weight: 700;
		}
	}
}
/**/
.slider {
    margin: 0 25px;
	text-align:center;
}
/*Object*/
.object{
	background: url(../img/bg-listings.jpg) repeat 0 0;
	padding: 25px 0 0 0;
	border-top: 1px solid #e9e9e9;
}
.caption_object {
	padding: 0px 0 25px 0;
}
.slide-object__caption {
    font-size: 20px;
    color: #444;
    font-weight: 700;
    padding: 10px 0 5px 0;
	box-sizing: border-box;
}
/**/
/*Photo*/
.photo{
	background: url(../img/bg-gallery.jpg) repeat 0 0;
}
.caption_photo {
	padding: 20px 0 25px 0;
}
.photo-link{
	display:inline-block;
}
/**/
/*Advance*/
.advance{
	background: url(../img/bg-certificat.jpg) repeat 0 0;
	padding: 0 0 25px 0;
}
.caption_advance {
	padding: 25px 0 25px 0;
}
.slide-advance{
	text-align: center;
}
/**/
/*Advice*/
.caption_advice{
	font-weight: 700;
	color: #1f1f1f;
	margin: 0 0 25px 0;
}
.advice{
	border-top: 1px solid #D8D8D8;
	background: #ECECEC;
	padding: 25px 0;
	box-sizing: border-box;
	text-align: center;
	&__form{
		display: inline-block;
		background: #F2F2F2;
	    border: 1px solid #ddd;
	    border-radius: 3px;
	    padding: 20px 30px;
	    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	    width: 310px;
		font-size: 20px;
		color: #040205;
		box-sizing: border-box;
	}
	&__item{
		 margin-bottom: 15px;
		&-heder{
			// margin-bottom: 15px;
		}
		&-input-box{
			border: 1px solid #d9d9d9;
		    border-radius: 3px;
		    background: #fff;
		    height: 32px;
		    line-height: 32px;
		    margin: 5px 0;
		    width: 98.8%;
		    text-indent: 10px;
		}
	}
	&__submit-button{
		background: #CF0B16;
		color: #fff;
		text-align: center;
		width: 99.8%;
		border: none;
		height: 41px;
		font-size: 20px;
		font-weight: 700;
		border-radius: 2px;
		cursor: pointer;
	}
}
/**/
/*footer*/
.footer{
	background: url(../img/bg-footer2.png) repeat 0 0;
	padding: 25px;
}
.social{
	display: inline-block;
	vertical-align: middle;
	&__link {
    	margin: 0 15px 0 0;
	}
}
.copyright {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: 15px 0 0 0;
	a{
		color: #fff;
    	text-decoration: underline;
	}
}
@media screen and (max-width: 768px){
	.mobile-wraper{
		width: 100%;
	}
	.wrapper{
		width: auto;
	}
	.menu {
		display:block;
	}
}
@media screen and (max-width: 600px){
	.banner{

		&__title{
			font-size: 18px;
		}
		&__content {
			p{
				font-size: 19px;
			}
			em{
				font-size: 20px;
			}
			strong {
			    font-size: 30px;
			}
		}
	}
}
@media screen and (max-width: 480px){
	.make{
		&__images {
			width: 48%;
		}
		&__caption{
			font-size:20px;
		}
	}
	.mobile-menu span {
		font-size: 20px;
	}
	.time__content{
		height: 25px;
		line-height: 25px;
		font-size: 15px;
		strong{
			font-size: 15px;
		}
	}
	.button-phone{
		font-size: 18px;
	}
	.banner {
		width: 100%;
	}
	.advice__form {
		width: 270px;
	}
	.advice__submit-button{
		font-size: 18px;
	}
	.logo{
		width: 59%;
	}
	.social{
		width: 41%;
		text-align: right;
		&__link{
			padding: 0 5px 0 0;
			box-sizing: border-box;
			margin: 0;
		}
	}
	.footer {
		padding: 25px 5px;
	}
	.copyright__item {
	    line-height: 1.2;
	    font-size: 14px;
	}
}
@media screen and (max-width: 396px){
	.phone{
		&__number, &__city, .email, .email__number {
			font-size:16px;
			line-height:1;
		}
		&__number, .email__number{
			font-weight:300;
		}
	}
	.make{
		padding: 0 0 0 10px;
		&__caption{
			font-size:18px;
		}
	}
	.caption{
		font-size: 20px;
	}
	.caption_advice{
		padding: 0 30px;
		box-sizing: border-box;
	}
	.mobilepanel_toggle {
		left:-20px;
	}
	.mobile-menu__toogle{
		padding: 0 0 0 15px;
	}
	.caption_catalog {
	    font-size: 22px;
	}
	.case__header, .slide-object__caption{
		font-weight: 300;
		font-size: 18px;
	}
}
@media screen and (max-width: 320px){
	.case__header, .slide-object__caption{
		font-size: 16px;
		font-weight: 600;
	}
}
/**/

// %bg{
// 	background: url(../img/pattern_008.png) repeat 0 0;
// }
// .title{
// 	&_about{
// 		margin: 0 0 45px 0;
// 	}
// 	&_innovation{
// 		text-align: center;
// 		margin: 0 0 60px 0;
// 	}
// 	&_workers{
// 		/*margin: 55px 0 50px 0;*/
// 		margin: 40px 0 30px 0;
// 	}
// 	&_news{
// 		margin: 0px 0 -36px 30px;
// 		text-align: left;
// 	}
// 	&_progress{
// 		padding: 0 0 52px 0;
// 		text-align: center;
// 	}
// 	&_contact{
// 		padding: 0 0 65px 0;
// 		text-align: center;
// 	}
// 	&_gallery{
// 		padding: 0 0 77px 0;
// 		text-align: center;
// 	}
// }
// .caption{
// 	position: relative;
// 	display:inline-block;
// 	font: 40px 'Roboto', sans-serif;
// 	font-weight: 400;
// 	text-transform: uppercase;
// 	&_about{
// 		color: #4b4b4b;
// 		&:after{
// 			content:'';
// 			position: absolute;
// 			top: 55px;
// 			left: 0;
// 			height:3px;
// 			width:58px;
// 			background:#f39200;
// 		}
// 	}
// 	&_innovation{
// 		color: #fff;
// 		&:after{
// 			content:'';
// 			position: absolute;
// 			top: 52px;
// 		    left: 50%;
// 		    transform: translate(-50%, 0);
// 			height:3px;
// 			width:115px;
// 			background:#fff;
// 		}
// 	}
// 	&_workers{
// 		color: #4b4b4b;
// 		&:after{
// 			content:'';
// 			position: absolute;
// 			top: 55px;
// 			left: 0;
// 			height:3px;
// 			width:60px;
// 			background:#3aaa35;
// 		}
// 	}
// 	&_news{
// 		color: #fff;
// 		&:after{
// 			content:'';
// 			position: absolute;
// 			top: 55px;
// 			left: 0;
// 			height:3px;
// 			width:60px;
// 			background:#fff;
// 		}
// 	}
// 	&_slide-news{
// 		display: block;
// 		margin: 0 0 25px 0;
// 		color: #fff;
// 		font-size: 22px;
// 		font-weight: 300;
// 		text-transform: none;
// 	}
// 	&_progress{
// 		color: #fff;
// 		&:after{
// 			content:'';
// 			position: absolute;
// 			top: 55px;
// 			left: 50%;
// 			transform: translate(-50%, 0);
// 			height:3px;
// 			width:58px;
// 			background:#fff;
// 		}
// 	}
// 	&_contact{
// 		color: #4b4b4b;
// 	}
// 	&_gallery{
// 		color: #4b4b4b;
// 	}
// }
// .button{
// 	display: inline-block;
// 	font-family: 'Roboto', sans-serif;
// 	font-weight: 400;
// 	line-height: 24px;
// 	border-radius: 3px;
// 	&_about{
// 		background: #3aaa35;
// 		color: #fff;
// 		padding: 11px 53px;
// 		font-size: 17px;
// 	}
// 	&_workers{
// 		background: #009fe4;
// 		color: #fff;
// 		padding: 11px 53px;
// 		font-size: 17px;
// 	}
// 	&_news{
// 		color:#3bab36;
// 		background: #fff;
// 		font-size: 17px;
// 		padding: 11px 53px;
// 	}
// 	&_progress{
// 		color: #009fe4;
// 		background:#fff;
// 		padding: 11px 53px;
// 		font-size: 17px;
// 	}
// }
//
// .head{
// 	display: table;
//     position: relative;
//     z-index: 1;
// 	width: 100%;
//     margin: 0 0 -72px 0;
//     background: url(../img/pattern_008.png) repeat 0 0, #3aaa35;
// }
// .logo {
// 	float: left;
// 	height: 72px;
// 	background:#0088dc;
// 	&__link{
// 		//display:block;
// 		//@extend %clear;
// 		display:table;
// 		height: 100%;
// 		width: 300px;
// 	}
// 	&__images{
// 		//display:block;
// 		//float: left;
// 		display: table-cell;
// 		vertical-align: middle;
// 		padding: 5px 14px 0 10px;
// 	}
// 	&__text{
// 	    display: table-cell;
// 		vertical-align: middle;
// 		text-transform: uppercase;
// 		font: 14px 'PT Sans Narrow', sans-serif;
// 		line-height:18px;
// 		color:#fff;
// 	}
// }
// .navigation{
// 	display: table;
//     //margin: 0 216px 0 300px;
//     height: 72px;
// 	box-sizing: border-box;
// 	background: url(../img/pattern_008.png) repeat 0 0, #3aaa35;
// }
// %mobile-control__item{
// 	content: '';
// 	position: absolute;
// 	left: 0;
// 	width: 100%;
// 	height: 20%;
// 	background:#0991E5;
// 	transition: all ease .2s;
// 	-webkit-transform: translateZ(0);
// }
// .mobile{
// 	&-control{
// 		position: absolute;
// 		display: none;
// 		top: 36px;
// 		right: 36px;
// 	    transform: translate(50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		background:#fff;
// 		z-index: 1;
// 		&:after{
// 			@extend %mobile-control__item;
// 			top: 60%;
// 		}
// 		&:before{
// 			@extend %mobile-control__item;
// 			top: 20%;
// 		}
// 	}
// }
// .menu {
// 	display: table-cell;
// 	vertical-align: middle;
// 	&__item{
// 		display:inline-block;
// 		vertical-align: middle;
// 		padding:0 5px;
// 		font: 17px 'PT Sans Narrow', sans-serif;
// 		&_active{
// 			border-bottom:3px solid #fff;
// 		}
// 	}
// 	&__link{
// 		display:inline-block;
// 		text-transform: uppercase;
// 		color:#fff;
// 	}
// }
// .control{
// 	height: 72px;
// 	transition: 0.5s ease;
// 	float: right;
// 	&__link{
// 		display: inline-block;
// 		width:72px;
// 		height:72px;
// 		&_search{
// 			background:url(../img/control.png) no-repeat 0px 0, #0088dc;
// 		}
// 		&_mail{
// 			background:url(../img/control.png) no-repeat -70px 0, #009fe4;
// 		}
// 		&_device{
// 			background:url(../img/control.png) no-repeat -145px 0, #33b2e9;
// 		}
// 	}
// }
// .promo {
// 	position: relative;
//     height: 100%;
//     padding: 72px 0 0 0;
//     overflow: hidden;
//     box-sizing: border-box;
// 	&:after{
// 		content: '';
// 		position: absolute;
// 		bottom: 70px;
// 		left:50%;
// 		width: 36px;
// 		height: 47px;
// 		transform: translate(-50%, 0%);
// 		background: url(../img/scroll.png) no-repeat 0 0;
// 	}
// 	&__images{
// 		display: block;
// 		width: 100%;
// 	}
// 	&__slogan{
// 		position: absolute;
// 		top:215px;
// 		left:percent(372);
// 		text-transform: uppercase;
// 		text-align: right;
// 		transition: 0.5s ease;
// 	}
// 	&__text{
// 		position: relative;
// 		width: 486px;
// 		padding: 0 0 33px 0;
// 		font: 29px 'Roboto', sans-serif;
// 		font-weight: 400;
// 		line-height: 37px;
// 		text-align: left;
// 		color: #fff;
// 		&:before{
// 			content: ',,';
// 			position: absolute;
// 			top: -62px;
// 			left: -75px;
// 			font: 170px 'Roboto', sans-serif;
// 			font-weight: 400;
// 			line-height: 18px;
// 		}
// 	}
// 	&__author{
// 		display: inline-block;
// 		font: 18px 'Roboto', sans-serif;
// 		color:#fff;
// 	}
// }
// .about{
// 	font-size: 0px;
// 	@extend %bg;
// 	&__images{
// 		display: inline-block;
// 		vertical-align: bottom;
// 		max-width: 100%;
// 	}
// }
// .left-column{
// 	display:inline-block;
// 	width: 50%;
// 	box-sizing: border-box;
// 	&_about{
// 		margin: 0 49% 0 -50%;
// 		padding: 25px 30px 0 0;
// 		text-align: right;
// 		vertical-align: bottom;
// 	}
// 	&_workers{
// 		padding: 0 0 0 percent(120);
// 		text-align: left;
// 		vertical-align: top;
// 	}
// 	&_news{
// 		width: 24%;
// 		text-align: right;
// 		vertical-align: middle;
// 	}
// 	&_photo{
// 		@extend %clear;
// 		height: 100%;
// 	}
// }
// .right-column{
// 	display:inline-block;
// 	width: 50%;
// 	box-sizing: border-box;
// 	&_about{
// 		padding: 55px percent(210) 0px 0;
// 		margin: 0 -49% 0 50%;
// 	}
// 	&_news{
// 		width: 64%;
// 		border-left: 1px solid #fff;
// 		padding: 0 0 0 54px;
// 		text-align: left;
// 		vertical-align: middle;
// 	}
// 	&_workers{
// 		vertical-align: top;
// 	}
// 	&_photo{
// 		vertical-align: top;
// 		@extend %clear;
// 		height: 100%;
// 	}
// }
// .info{
// 	font-size: 0px;
// 	&__text{
// 		margin:0 0 45px 0;
// 		&_about{
// 			height: 142px;
// 			overflow: hidden;
// 			}
// 		&_workers{
// 			margin: 0 0 20px 0;
// 			overflow: hidden;
// 			height: 215px;
// 			p{
// 				margin:0 0 35px 0;
// 				&:last-child{
// 					margin:0;
// 				}
// 			}
// 		}
// 	}
// 	&_about{
// 		padding: 0 0 40px 0;
// 	}
// 	&_workers{
// 		padding: 0 0 40px 0;
// 	}
// 	p{
// 		color: #595959;
// 		font: 17px 'Roboto', sans-serif;
// 		font-weight: 400;
// 		line-height: 24px;
// 	}
// }
// .innovation {
// 	position: relative;
//
// 	padding: 40px 0 35px 0;
// 	&:after{
// 		content: '';
// 		position: absolute;
// 		top: -3px;
// 	    left: 0;
// 	    width: 100%;
// 	    height: 3px;
// 		background: url(../img/innovation_border.png) repeat-x 0 0;
// 	}
// }
// .list{
// 	display:block;
// 	margin: 0 auto;
// 	text-align: center;
// 	//width:1300/$width-full*100%;
// }
// .innovation-item{
// 	display:inline-block;
// 	//width:(100%/7);
// 	width: 8%;
// 	text-align: center;
// 	vertical-align: top;
// 	margin: 0 28px;
// 	&__link{
// 		display:block;
// 	}
// 	&__images{
// 		display:inline-block;
// 		max-width:100%;
// 		margin:0 0 25px 0;
// 	}
// 	&__text{
// 		text-align:center;
// 		text-transform:uppercase;
// 		font:14px 'Roboto', sans-serif;
// 		font-weight: 300;
// 		color:#fff;
// 	}
// }
// .workers{
// 	font-size: 0px;
// 	text-align: right;
// 	@extend %bg;
// }
// .news {
//
// 	padding: 53px 0 40px 0px;
// 	text-align:center;
// 	font-size: 0px;
// }
// .slider-news{
// 	margin: 0 0 50px 0;
// }
// .slide-news{
// 	font-family: 'Roboto', sans-serif;
// 	@extend %clear;
// 	&__number{
// 		color: #fff;
// 		font-size: 127px;
// 		font-weight: 100;
// 	}
// 	&__data{
// 		display: inline-block;
// 		margin: 0 0 20px 0px;
// 	    padding: 2px 5px;
// 		color: #3aaa35;
// 		font-size: 17px;
// 		font-weight: 300;
// 		background: #fff;
// 	}
// 	&__content{
// 		display: block;
// 		margin: 0 0 120px 0;
// 		color: #fff;
// 		font-size: 17px;
// 		font-weight: 300;
// 	}
// }
// .gallery{
// 	padding: 77px 0;
// 	@extend %bg;
// 	font-size: 0px;
// }
// .photo{
// 	height: 750px;
// 	 font-size: 0;
// 	&__item{
// 			display: inline-block;
// 			box-sizing: border-box;
// 			font-size: 16px;
// 			vertical-align: top;
// 			overflow: hidden;
// 			padding: 14px;
// 		&_half{
// 			height:50%;
// 			width:50%;
// 		}
// 		&_full {
// 			height: 100%;
// 			width: 100%;
// 			&-width{
// 				height: 50%;
// 				width: 100%;
// 			}
// 		}
// 	}
// 	&__images{
// 		height:auto;
// 	}
// }
// .progress{
// 	padding: 66px 0 31px 0;
// 	text-align: center;
// }
// .slider-progress{
// 	margin: 0 0 45px 0;
// }
// .slide-progress{
// 	padding: 6px 0 0 0;
//     box-sizing: border-box;
// 	&__image {
// 	    background: #fff;
// 	    padding: 20px;
// 		margin: 0 0 20px 0;
// 	    box-shadow: 0 0 0 6px #1a1c19;
// 	}
// }
// .contact{
// 	@extend %bg;
// 	padding: 85px 0 0 0;
// }
// .footer{
// 	@extend %bg;
// 	text-align: center;
// 	padding: 30px 0;
// }
// .copyright{
// 	color: #3e3e3e;
// 	font: 14px 'Roboto', sans-serif;
// 	font-weight: 400;
// 	line-height: 14px;
// 	text-transform: uppercase;
// }
// //вынести в отдельный scss файл
// $icon__map:url(../img/ico_map.png) no-repeat 0px;
//
// @mixin icon__map($position-bg){
// 	&:before{
// 	content: '';
// 	position: absolute;
// 	left: 0;
// 	top: 50%;
//   width: 35px;
//   height: 30px;
//   transform: translate(0%, -50%);
// 	background:$icon__map #{$position-bg}px;
// 	}
// }
// .gmnoprint{
//   display:none;
// }
// #map-canvas {
// 	width:100%;
// 	height:670px;
// 	max-width: none;
// 	.gm-style-iw {
// 		width: 430px !important;
// 		padding: 15px 0 0 20px;
// 		background:#3bab36;
// 	}
// }
// .map-info {
// 	&__text{
// 		position:relative;
// 		padding: 0 0 0px 40px;
// 		margin: 0 0 20px 0;
// 		box-sizing: border-box;
// 		&_adress{
// 			@include icon__map(-4)
// 		}
// 		&_tel{
// 			@include icon__map(-45)
// 		}
// 		&_email{
// 			@include icon__map(-86)
// 		}
// 	}
// 	&__content{
// 	    color:#fff;
// 	  	font-size: 20px;
// 	    line-height: 22px;
// 	    font-weight: 400;
// 		span {
// 			font-size: 25px;
// 			line-height: 28px;
// 		}
// 	}
// }
// @media screen and (max-width: 1382px){
// 	.promo__slogan{
// 		left:percent(180);
// 	}
// 	.info__text_workers{
// 		height: 100px;
// 	}
// }
// @media screen and (max-width: 992px){
// 	//.head {
//     	//height: 144px;
// 		//margin: 0 0 -144px 0;
// 	//}
// 	.logo {
//     	float: none;
//     	background: #0991E5;
// 	}
// 	.navigation {
// 		position: absolute;
// 	    width: 100%;
// 		margin: 0;
// 	    text-align: center;
// 	}
// 	.promo{
// 		//padding: 144px 0 0 0;
// 		&__images {
// 			width: 125%;
// 		    margin: 0 0 0 -23%;
// 		}
// 		&__slogan{
// 			top: 360px;
// 			left:percent(180);
// 		}
// 		&__text{
// 			width: 346px;
// 			font-size: 22px;
// 			&:before{
// 				top: -62px;
// 				left: -45px;
// 				font-size: 120px;
// 			}
// 		}
// 	}
// 	.caption{
// 		font-size:30px;
// 		&_workers{
// 			&:after {
// 				top: 40px;
// 			}
// 		}
// 		&_slide-news{
// 			font-size:22px;
// 		}
// 	}
// 	.innovation-item {
// 		width: 15%;
// 		&:nth-child(-n+4) {
// 			margin-bottom: 30px;
// 		}
// 	}
// 	.right-column{
// 		&_about {
// 			padding: 25px 35px 0px 0;
// 			width: 44%;
// 			margin: 0 -44% 0 55%;
// 		}
// 		&_news {
// 			width: 86%;
// 		}
// 	}
// 	.left-column{
// 		&_about {
// 			padding: 25px 0px 0 5px;
// 			width: 55%;
// 			margin: 0 44% 0 -55%;
// 		}
// 		&_workers {
// 			padding: 0 percent(30) 0 percent(80);
// 		}
// 		&_news{
// 			width: 12%;
// 		}
// 	}
// 	.title{
// 		&_about {
// 			margin: 0 0 25px 0;
// 		}
// 		&_workers{
// 			margin: 6% 0;
// 		}
// 	}
// 	.info {
// 		&_about {
// 			padding: 0 0 30px 0;
// 		}
// 		&__text {
// 			margin: 0 0 6% 0;
// 			&_workers{
// 				height:95px;
// 			}
// 		}
// 		&_workers {
// 			padding: 0 0 7% 0;
// 		}
// 		p{
// 			font-size:15px;
// 		}
// 	}
// 	#map-canvas{
// 		height:440px;
// 	}
// }
// @media screen and (max-width: 768px){
// 	.navigation{
// 		display: none;
// 		height:auto;
// 		padding: 10px 0;
// 	}
// 	.mobile-control {
// 	    display: block;
// 	}
// 	.control {
//     	margin: 0 72px 0 0;
// 	}
// 	.about{
// 		padding: 0 5%;
// 	}
// 	.promo {
// 		&__images{
// 			width: 140%;
// 			margin: 0 0 0 -23%;
// 		}
// 		&:after{
// 			bottom: 15px;
// 		}
// 	}
// 	.right-column {
// 		&_workers{
// 			width: 100%;
// 		}
// 		&_about{
// 			width: 100%;
// 			margin: 0;
// 			text-align: center;
// 			padding: 25px 0 0 0;
// 		}
// 	}
// 	.left-column{
// 		&_workers{
// 			width: 100%;
// 			padding: 0 5%;
// 			text-align: center;
// 		}
// 		&_about{
// 			width: 100%;
// 			margin: 0;
// 			text-align: center;
// 			padding: 0;
// 		}
// 	}
// 	.info__text {
//     	text-align: left;
// 		margin: 0 0 25px 0;
// 		&_workers {
// 			p {
// 				margin: 0 0 15px 0;
// 			}
// 		}
// 	}
// 	.info_workers {
// 		padding: 0 0 25px 0;
// 	}
// 	.caption{
// 		font-size: 28px;
// 		$caption-top:40px;
// 		&_about:after{
// 			top:$caption-top;
// 			transform: translate(50%, 0);
// 		}
// 		&_innovation:after{
// 			top:$caption-top;
// 		}
// 		&_workers:after{
// 			left: 50%;
// 			transform: translate(-50%, 0);
// 		}
// 		&_news:after{
// 			top:$caption-top;
// 			transform: translate(50%, 0);
// 		}
// 		&_progress:after{
// 			top:$caption-top;
// 		}
// 		&_slide-news {
// 			font-size: 22px;
// 		}
// 	}
// 	.news {
// 		padding: 25px 0;
// 	}
// 	.innovation {
//     	padding: 25px 0;
// 	}
// 	.gallery{
// 		padding: 35px 0;
// 	}
// 	.progress {
// 		padding: 25px 0;
// 	}
// 	.contact {
//     	padding: 35px 0 0 0;
// 	}
// 	.title {
// 		&_news {
// 			margin: 0px 0 36px 0;
// 			text-align: center;
// 		}
// 		&_workers {
// 			margin: 25px 0;
// 		}
// 		&_progress{
// 		    padding: 0 0 45px 0;
// 		}
// 		&_contact{
// 			padding: 0 0 35px 0;
// 		}
// 		&_gallery{
// 			padding: 0 0 35px 0;
// 		}
// 	}
// 	.left-column_news {
// 		display: none;
// 	}
// 	.right-column_news {
// 		width: 100%;
// 		padding:0;
// 		border:none;
// 	}
// 	.slider-news {
// 		margin: 0 0 100px 0;
// 	}
// 	.slide-news__content {
// 		margin:0;
// 	}
// 	.slider-progress {
//     	margin: 0 0 25px 0;
// 	}
// }
// @media screen and (max-width: 640px){
// 	.promo{
// 		&__images {
// 			width: 173%;
// 			margin: 0 0 0 -52%;
// 		}
// 		&__slogan{
// 			top: 260px;
// 		}
// 	}
// }
// @media screen and (max-width: 605px){
// 	.control{
// 		display: none;
// 	}
// }
// @media screen and (max-width: 605px){
// 	.promo__images{
// 		height: 100%;
// 	}
// }
// @media screen and (max-width: 480px){
// 	.promo{
// 		&__text {
// 		    width: 252px;
// 		    font-size: 16px;
// 			&:before {
// 			    top: -50px;
// 			    left: -30px;
// 			    font-size: 100px;
// 			}
// 		}
// 		&__author{
// 			font-size: 14px;
// 		}
// 	}
// 	.slider-news {
// 		margin: 0 0 35px 0;
// 	}
// 	.innovation-item {
//     	width: 31%;
// 		margin-bottom: 30px;
// 		&:last-child{
// 			margin-bottom: 0;
// 		}
// 	}
// 	.caption {
// 		font-size: 26px;
// 		&_innovation {
// 	    	padding: 0 5%;
// 			&:after {
//     			top: 75px;
// 			}
// 		}
// 		&_slide-news {
//     		font-size: 20px;
// 		}
// 	}
// }
//
// @media screen and (max-width: 376px){
// 	/*.head {
// 	    height: 166px;
// 	    margin: 0 0 -166px 0;
// 	}*/
// }
