// font-family: 'Open Sans', sans-serif;
//

html, body, ul, li, p, img, h1, h2, h3, h4 {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
  text-decoration: none;
  transition:0.5s ease;
}
img{
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
// @font-face {
//     font-family: 'Open Sans';
//     src: url('../fonts/opensans-400-normal.woff2') format('woff2'),
// 		 url('../fonts/opensans-400-normal.woff') format('woff'),
// 		 url('../fonts/opensans-400-normal.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
$width-full:1200px;

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@function percent($pixels) {
  @return #{($pixels/$width-full)*100%}
}

%clear{
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}
%overlay{
	position:relative;
	&:after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
}
%img{
	max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
html{
	font: 18px 'Open Sans', sans-serif;
	color: #333;
}
.justify {
	text-align:justify;
	font-size: 1px;
	line-height: 0;
	text-justify: newspaper;
	zoom: 1;
	&:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
}
%justify {
	text-align:justify;
	font-size: 1px;
	line-height: 0;
	text-justify: newspaper;
	zoom: 1;
	&:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
}
%c-g{
	position:absolute;
	left:50%;
	transform:translate(-50%, 0);
}
%c-v{
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
}
%center{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.wraper{
	position: relative;
	width:1182px;
	margin: 0 auto;
	&_promo{
		width: 800px;
	}
}
.button{
	display:inline-block;
	cursor: pointer;
    margin: 0;
    padding: 0;
	outline: 0;
    border: 0;
    text-align: center;
    white-space: nowrap;
	color: #323232;
	font-size: 24px;
    line-height: 48px;
    height: 50px;
    padding: 0 11px;
    border-radius: 4px;
	&_promo{
		background-color: #e23101;
		background-color: #357ebd;
		color:#fff;
		margin:30px 0 0 0;
	}
}
.header{
	font-size: 40px;
    line-height: 1.3;
	margin: 0 0 50px 0;
}
.text{
    line-height: 36px;
	span{
		display: block;
	}
}
/*head*/
.head{
    //overflow: hidden;
	display:table;
	box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.36);
    height: 70px;
	color:#fff;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgb(10, 10, 10);
	font-size: 20px;
	&.white-block{
		background: #fff;
		color: #252525;
		.menu__link {
			color: #252525;
		}
		.phone{
			color: #252525;
		}
		.mobile-control {
		    background: #0a0a0a;
			&:after, &:before{
				background: #fff;
			}
		}
	}
}
.logo {
    float: left;
    width: 254px;
    z-index: 3;
    padding: 3px 0 3px 30px;
	&__link{
		display: block;
	}
	&__images{

	}
}
%mobile-control__item{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 20%;
	background:#0a0a0a;
	transform: translateZ(0);
}
.mobile{
	display: none;
	position: relative;
	float:right;
    height: 70px;
    right: 0;
    width: 70px;
	&-control{
		@extend %center;
		width: 26px;
		height: 20px;
		background:#fff;
		z-index: 1;
		&:after{
			@extend %mobile-control__item;
			top: 60%;
		}
		&:before{
			@extend %mobile-control__item;
			top: 20%;
		}
	}
}
.menu{
	position: relative;
    z-index: 2;
    height: 100%;
    //margin: 0 250px 0 125px;
    text-align: center;
	&__list{
		display: inline-block;
		vertical-align: middle;
		line-height: 70px;
	}
	&__item{
		display:inline-block;
		margin-left: 20px;
		font-size:20px;
	}
	&__link{
		color: #fff;
	}
}
.phone{
	position: relative;
    z-index: 2;
    display: table;
    height: 60px;
    float: right;
    width: 250px;
	text-align: right;
    border-left: 1px dotted #555;
    padding: 0 30px;
	color:#fff;
    box-sizing: border-box;
    margin: 5px 0;
	transition: 0.5s ease;
	&__number{
		display: table-cell;
		vertical-align: middle;
	}
}
/*head end*/

/*promo*/
.video-promo{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	&__item{

	}
}
.promo{
	position:relative;
	margin: 70px 0 0 0;
	color: #fff;
    overflow: hidden;
    height: 600px;
    //background: url(../img/promo.jpg) no-repeat 50% 0px;
	//background: url(../img/m-promo.jpg) no-repeat 50% 0px;
	//background-size: cover;
	//background-attachment: fixed;
	@extend %overlay;
	.wraper_promo{
		height: 100%;
	}
	&__content{
		position:relative;
	}
	&__list{
		display: inline-block;
		text-align: left;
	}
	&__item{
	}
	&__slogan{
		@extend %c-v;
		left: 0;
		z-index: 1;
		//height:100%;
		//width: 50%;
		//padding: 50px 0;
		box-sizing: border-box;
		width: 100%;
	}
	&__video{
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%,-50%);
		margin-top: -1px;
	}
	&__text{
		background: url(../img/arrow.png) no-repeat -7px -196px;
    	padding: 0 0 0 30px;
	}
	&__tv{
		//@extend %c-v;
		background: url(../img/video.png) no-repeat 0 0;
		right: 0;
		position:absolute;
		bottom:50%;
		transform:translate(0, 50%);
		width: 300px;
		height: 200px;
		background-size: contain;
		z-index: 1;
		text-align: center;
	}
	&__play{
		display: inline-block;
		width: 100px;
		height: 100px;
		background: url(../img/play.png) no-repeat 0 0;
		background-size: contain;
		border: none;
	    margin: 50px 0;
	    box-sizing: border-box;
	    outline: none;

	}
}
.container{
		text-align:center;
}
.sub-title{
	font-size:40px;
	padding: 0 0 15px 0;
	text-align: left;
	span{
		display:block;
	}
}
.header.header_slogan{
	text-align: left;
	font-size:50px;
	margin: 0 0 10px 0;
}
/**/
/*service advantages*/
.advantages{
	background: #ECECEC;
	font-size: 0px;
	text-align:center;
	padding: 50px 0 0 0;
}
.service{
	display: inline-block;
	width: 27%;
	margin: 0 3% 50px 3%;
    box-sizing: border-box;
    vertical-align: top;
	text-align:center;
	&__images{
    	width: 150px;
	}
	&__title{
		margin: 20px 0 0 0;
		font-size: 25px;
		line-height: 1.1;
	    color: #363636;
	    height: 54px
	}
	&__description{
		font-size:15px;
		margin: 9px 0 0 0;
	}
	.advantages_description{
		.service__title{
			font-size: 22px;
		}
	}
}
/*advantages end*/
/*gallery*/
.gallery{
	font-size: 0px;
	text-align: center;
	background-color: #f2f2f2;
	padding:50px 0;
}
.photo{
	display:inline-block;
	position:relative;
	width:25%;
	box-sizing:border-box;
    padding: 0 10px;
	vertical-align: top;
	&__images{

	}
	&__title{
		font-size: 18px;
		line-height: 1;
		background: #452e2e;
		letter-spacing: -0.2px;
		padding: 10px 0;
		color:#fff;
	}
	&__link{
		display:block;
		&:after{
			content: '';
			position: absolute;
			top: -16px;
			left: -7px;
			width: 0;
			height: 0;
			border: 15px solid transparent;
			border-bottom: 15px solid #F2F2F2;
			transform: rotate(-45deg);
		}
	}
}
.row-photo{
	border-bottom: 1px solid #d1d1d1;
	padding: 0 0 35px 0;
	&:last-child{
		border:none;
		padding: 35px 0 0 0;
	}
	//&:first-child{
	//	padding: 0 0 25px 0;
	//}
}
/*video*/
.video{
	text-align: center;
	padding: 50px 0;
	&__text{
		text-align: justify;
		font-size: 18px;
    	line-height: 1.8;
	}
	&__content{
		padding: 50px 0 0 0;
		width: 800px;
	    height: 450px;
		margin: 0 auto;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
}
/*video end*/
/*calculator*/
.calculator{
	text-align:center;
	height:550px;
	background:url(../img/m-calc-bg.jpg) no-repeat 0 0;
	background-size:cover;
	background-attachment: fixed;
	@extend %overlay;
}
.wraper_calculator{
	//background-color: #EFE9DD;
	z-index: 1;
	top: 50%;
	transform: translate(0%, -50%);
}
.header_calculator{
	//margin: 0 0 25px 0;
}
.form-calculator{
	width: 46%;
    background: #efe9dd;
	border-radius: 4px;
    margin: 0 auto;
    padding: 50px;
}
.header_calculator{
	margin: 0 0 25px 0;
	line-height: 1;
}
.item-form{
	display: inline-block;
    margin: 0 0 25px 0;
    width: 100%;
    font-size: 0;
    text-align: center;
	&__title{
		display: block;
	    height: 40px;
	    line-height: 40px;
	    vertical-align: top;
	    font-size: 20px;
	    font-weight: 600;
	    box-sizing: border-box;
	    text-align: center;
		// &_fireplace{
		// 	background: url(../img/arrow.png) no-repeat 3px -121px, #fff;
		// }
		&_checkbox{
			display: inline-block;
		}
	}
	&__field{
		display: inline-block;
	    width: 100%;
	    padding: 0px 25px 0 10px;
	    height: 45px;
	    font-size: 20px;
		border: 1px solid #333;
		border-radius: 5px;
		box-shadow: 0px 0px 0px 1px #333;
		//&_wc{
		//   border: 1px solid #333;
		//   box-shadow: 0px 0px 0px 0px #333;
		//}
		//&_bedroom{
		//   border: 1px solid #333;
		//}
	}
	&__fireplace{
	    display: inline-block;
		position: relative;
		vertical-align: top;
		text-align: left;
		line-height:1.3;
		width:40%;
		margin: 0;
	}
	&.justify{
		margin: 0;
		text-align: justify;
	}
}
.checkbox{
	display: none;
	&:checked~.fireplace{
		background: url(../img/arrow.png) no-repeat center -287px;
	}
}
.select-arrow{
	position: relative;
	background: url(../img/arrow.png) no-repeat right -157px, #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	&::-ms-expand {
		display: none;
	}
	&:active, &:focus{
		border: 1px solid #333;
	}
}
.price {
	width: 59%;
	text-align: right;
    display: inline-block;
    vertical-align: top;
	line-height:1.3;
	&__item{
		max-width: 1019px;
		font-weight: 600;
		font-size:20px;
	}
	&__value{
		font-size: 25px;
		font-weight: 700;
	}
}
.fireplace{
	display: inline-block;
    width: 40px;
    height: 40px;
	border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #333;
    //background: url(../img/checked_checkbox.png) no-repeat 0 -43px;
    //background-size: cover;
	margin: 0 0 0 10px;
}
/*calculator end*/
/*catalog*/
.catalog {
	padding: 50px 0;
	font-size: 0;
}
.header_catalog{
	text-align: center;
}
.model{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 0 45px;
	vertical-align: top;
	border-right: 1px dotted #452E2E;
	&:last-child{
		border: none;
	}
	&__title{
		font-size: 24px;
		line-height: 1;
		background: #452e2e;
		letter-spacing: -0.2px;
		padding: 15px 0;
		color: #fff;
		text-align: center;
	}
	&__text{
		font-size:18px;
		line-height: 1.8;
		margin: 25px 0 0 0;
		text-align: justify;
	}
	&__link{
		display: block;
	}
}
/*catalog end*/
/*review*/
.review{
	background: #ECECEC;
	padding: 50px 0;
	&__title{
		font-size:30px;
		font-weight: 600;
		padding: 0 0 25px 0;
		span{
			display:block;
			font-size:25px;
		}
	}
	&__text{
		line-height:36px;
		text-align: justify;
	}
	&__content{
		padding:0 0 0 350px;
		box-sizing: border-box;
		background: url(../img/men.jpg) no-repeat 0 bottom;
	}
	&__images{
		display: none;
		min-width: 38%;
		margin: 0 auto;
		max-width: 60%;
	}
}
.header_review{
	text-align:left;
}
/*review end*/

/*footer*/
.footer{
	padding:25px 0;
	background-color: #222;
	color: #fff;
}
.copyright{
	text-align:center;
	&__item{
		font-size: 14px;
		line-height: 1.7;
		&__develop{
			font-size: 14px;
		}
	}
	a {
		color: #fff;
	}
}
/**/
/*media*/
@media screen and (min-width: 768px){
	.promo{
		//background: url(../img/promo.jpg) no-repeat 50% 0px;
		//background-size: cover;
	}
	.calculator{
		background: url(../img/calc-bg.jpg) no-repeat 0 0;
		background-size: cover;
		background-attachment: fixed;
	}
}
@media screen and (min-width: 1980px){
	// .promo__video{
	//     height: auto;
	// 	width: 100%;
	// 	top: 0;
	// 	transform: translate(-50%, 0%);
	// }
}
@media screen and (max-width: 1400px){
	.promo{
		//text-align:center;
		height: 485px;
		&__video{
			top: -130px;
			height: 787px;
			transform: translate(-50%, 0%);
		}
	}
}
@media screen and (max-width: 1200px){
	.wraper{
		width: 100%;
	}
	.promo{
		text-align:center;
		// height: 470px;
		// &__video{
		// 	top: -126px;
		// 	height: 753px;
		// 	transform: translate(-50%, 0%);
		// }
	}
	.phone{
		width: auto;
		padding: 0 15px;
	}
	.promo__tv{
		bottom: 200px;
		right:25px;
	}
	.logo{
		padding: 3px 0 3px 15px;
	}
	.header.header_slogan {
    	text-align: center;
	}
	.sub-title{
		text-align: center;
	}
	.review__text{
		padding: 0 45px 0 0;
	}
	.video {
		&__text{
			padding: 0 45px;
		}
		&__content{
			width: auto;
			padding: 50px 45px 0 45px;
		}
	}
}
@media screen and (max-width: 1100px){
	.form-calculator {
	    width: 60%;
	}
}
@media screen and (max-width: 992px){
	.photo{
		width: 50%;
		padding: 0 10px 20px 10px;
		&:nth-child(n+3) {
			padding: 0 10px 0px 10px;
		}
	}
	.row-photo{
		padding: 0;
		border: none;
	}
	.menu{
		margin:0;
		&__item{
			margin-left: 10px;
			&:first-child{
				margin:0;
			}
		}
	}
	.logo{
		padding:3px 0;
	}
	.service{
		width: 35%;
	}
	.promo__slogan{
		width:100%;
		right: initial;
		left: 50%;
		transform: translate(-50%, -50%);
		//text-align: left;
	}
	.promo__list{
		padding: 0 0 0 25px;
	}
	.text{
		line-height: 30px;
		span{
			display: inline-block;
		}
	}
	.header_slogan{
		margin: 0 0 25px 0;
	}
	.review__content {
		padding: 0 0  0 300px;
	}
	.row-photo:last-child{
		display: none;
	}
	.model {
	    width: 100%;
	    padding: 0 45px 50px 45px;
		border: none;
		&:last-child{
			padding-bottom:0;
		}
	}
	.container{
		//text-align: left;
		//padding: 0 0 0 25px;
	}
}
@media screen and (max-width: 920px){
	.mobile{
		display: block;
	}
	.menu{
		display: none;
		padding: 0 25px;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		&__item{
		    line-height: 2;
		}
	}
	.phone{
		float:right;
		border:none;
		padding:0;
	}
	.logo{
		float:none;
		padding: 3px 0 3px 25px;
	}
	.menu__list{
		width:100%;
		text-align:justify;
		font-size: 1px;
		line-height: 0;
		text-justify: newspaper;
		zoom: 1;
		&:after {
			width: 100%;
			height: 0;
			visibility: hidden;
			overflow: hidden;
			content: '';
			display: inline-block;
		}
	}
}
@media screen and (max-width: 850px){
	.form-calculator{
		width:70%;
	}
	.review__text, .model__text {
		line-height: 30px;
	}
}
@media screen and (max-width: 768px){
	html, body{
		height:100% !important;
	}
	.promo{
		//height: 80%;
    	height: 460px;
		&__video{
			top: 50%;
			//height: auto;
			transform: translate(-50%, -50%);
		}
	}
	.header {
		font-size: 36px;
	}
	.promo__tv{
		right: 50%;
		transform: translate(50%, 50%);
		bottom: 18%;
	}
	.promo__list{
		padding: 0;
	}
	.promo__slogan{
		text-align: center;
	}
	.container{
		text-align: center;
		padding: 0;
	}
	.service{
		margin: 0 3% 25px 3%;
		&__title {
			font-size:20px;
		}
	}
	.header_review{
		text-align:center;
	}
	.review__content {
		padding: 0 25px;
		background: none;
		text-align: center;
	}
	.review__text{
		padding: 0;
	}
	.review__text, .model__text{
		font-size:18px;
	}
	.review__images{
		display: inline-block;
	}
	.video__text {
    	padding: 0 25px;
	}
	.service__title {
	    height: 44px;
	}
	.model{
		padding: 0 25px 50px 25px;
	}
	//.model:last-child{
	//	padding: 0 25px;
	//}
}
@media screen and (max-width: 720px){
	.item-form__fireplace {
		vertical-align: bottom;
		width: 58%;
	}
	.price__value{
		display:block;
	}
	.price{
		width: 40%;
	}
}
@media screen and (max-width: 640px){
	.phone{
		font-size:18px;
	}
	.logo{
		width: 245px;
		padding: 3px 0;
	}
	.promo{
		//padding: 0 0 330px 0;
		//height: 100%;
		&__tv{
			bottom: -60px;
			transform: translate(50%, 100%);
		}
	}
	.menu__item{
		font-size:18px;
	}
	.header {
		margin: 0 0 25px 0;
	}
	.advantages{
		padding: 25px 0 0 0;
	}
	.review, .gallery, .video {
		padding: 25px 0;
	}
	.video__content{
		padding: 25px 25px 0 25px;
    	box-sizing: border-box;
		height: 300px;
	}
	.service {
		width: 44%;
	}
	.catalog {
    	padding: 25px 0;
	}
	.model{
		padding: 0 25px 25px 25px;
	}
}
@media screen and (max-width: 540px){
	.photo__title {
		font-size: 16px;
		letter-spacing:0;
	}
	.service__title {
		font-size: 18px;
		height: 38px;
	}
	.service__images {
		width: 120px;
	}
	.form-calculator {
		padding: 20px;
		width: 88%;
		box-sizing: border-box;
	}
	.item-form__fireplace {
    	text-align: center;
		width: 100%;
		margin: 0 0 15px 0;
	}
	.price {
    	width: 100%;
    	text-align: center;
	}
	.item-form.justify {
    	text-align: center;
	}
}
@media screen and (max-width: 480px){
	.promo {
    	height: 100%;
		&__video{
			height: auto;
		}
	}
	.menu{
		padding: 0 5px;
		&__item {
			font-size: 16px;
		}
	}
	.logo{
		width:200px;
		padding: 10px 0;
	}
	.mobile{
		width:50px;
	}
	.phone {
		font-size: 17px;
	}
	.review__text, .model__text {
		font-size: 16px;
		line-height: 24px;
	}
	.header {
		font-size: 30px;
	}
	.review__title {
		font-size: 24px;
		span {
			font-size: 20px;
		}
	}
	.photo {
    	width: 100%;
		&:nth-child(n+3){
			display: none;
		}
	}
	.model__title {
    	font-size: 22px;
	}
	.sub-title {
    	font-size: 36px;
	}
	.header.header_slogan {
    	font-size: 42px;
	}
	.footer {
		padding: 25px 10px;
	}
}
@media screen and (max-width: 420px){
	.service__images {
	    width: 100px;
	}
	.review__content {
    	padding: 0 10px;
	}
	.video__content{
		height: auto;
	}
	.select-arrow{
		font-size: 16px;
	}
	.promo__list {
    	padding: 0 0 0 30px;
	}
	.copyright__item {
		font-size: 13px;
	}
}
@media screen and (max-width: 410px){
	.head{
		height: 40px;
	}
	.logo{
		width:120px;
		padding: 3px 0;
	}
	.mobile{
		width:30px;
		height: 38px;
		padding: 0 10px 0 0;
	}
	.phone{
	    height: 30px;
		font-size:16px;
	}
	.promo{
		margin: 40px 0 0 0;
	}
}
@media screen and (max-width: 410px){
	.menu__item {
    	font-size: 14px;
	}
}
@media screen and (max-width: 380px){
	.form-calculator {
	    padding: 10px;
	    width: 95%;
	}
	.phone {
		padding: 0 10px 0 0;
		border: none;
	}
}
@media screen and (max-width: 345px){
	.menu__item {
		margin-left: 5px;
	    font-size: 13px;
	}
}
