html,
body,
ul,
li,
p,
img,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle;
}

.promo,
.calculator {
  position: relative;
}

.promo:after,
.calculator:after {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

html {
  font: 20px 'Open Sans', sans-serif;
  color: #333;
}

.justify {
  text-align: justify;
  font-size: 1px;
  line-height: 0;
  text-justify: newspaper;
  zoom: 1;
}

.justify:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

.promo__slogan {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.wraper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: center;
  white-space: nowrap;
  color: #323232;
  font-size: 24px;
  line-height: 48px;
  height: 50px;
  padding: 0 11px;
  border-radius: 4px;
}

.button_promo {
  background: #357ebd;
  color: #fff;
  margin: 30px 0 0 0;
}

.header {
  font-size: 40px;
  line-height: 1.3;
  margin: 0 0 50px 0;
}

.text {
  line-height: 36px;
}

.text span {
  display: block;
}

/*head*/

.head {
  background: #0a0a0a;
  overflow: hidden;
  box-shadow: 0px 6px 6px -5px rgba(0, 0, 0, 0.36);
  height: 70px;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.head.white-block {
  background: #fff;
  color: #252525;
}

.head.white-block .menu__link {
  color: #252525;
}

.head.white-block .phone {
  color: #252525;
}

.logo {
  float: left;
  width: 200px;
  z-index: 3;
}

.logo__link {
  display: block;
}

.menu {
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0 280px 0 157px;
  text-align: center;
}

.menu__list {
  display: inline-block;
  vertical-align: middle;
  line-height: 70px;
}

.menu__item {
  display: inline-block;
  margin-left: 20px;
}

.menu__link {
  color: #fff;
}

.phone {
  position: relative;
  z-index: 2;
  display: table;
  height: 60px;
  float: right;
  width: 250px;
  text-align: right;
  border-left: 1px dotted #555;
  padding: 0 30px;
  color: #fff;
  box-sizing: border-box;
  margin: 5px 0;
  transition: 0.5s ease;
}

.phone__number {
  display: table-cell;
  vertical-align: middle;
}

/*head end*/

/*promo*/

.promo {
  margin: 70px 0 0 0;
  text-align: left;
  color: #fff;
  overflow: hidden;
  height: 550px;
  background: url(../img/promo.jpg) no-repeat 50% 0px;
  background-size: cover;
  background-attachment: fixed;
}

.promo .wraper_promo {
  height: 100%;
}

.promo__content {
  position: relative;
}

.promo__slogan {
  right: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  padding: 50px 0;
  box-sizing: border-box;
}

.promo__images {
  width: 100%;
}

.sub-title {
  font-size: 40px;
}

.sub-title span {
  display: block;
}

.header_slogan {
  font-size: 50px;
  margin: 0 0 25px 0;
}

/**/

/*service advantages*/

.advantages {
  font-size: 0px;
  text-align: center;
  padding: 50px 0 0 0;
}

.service {
  display: inline-block;
  width: 27%;
  margin: 0 3% 50px 3%;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

.service__images {
  width: 150px;
}

.service__title {
  margin: 20px 0 0 0;
  font-size: 25px;
  line-height: 1.2;
  color: #363636;
}

.service__description {
  font-size: 15px;
  margin: 9px 0 0 0;
}

.service .advantages_description .service__title {
  font-size: 22px;
}

/*advantages end*/

/*gallery*/

.gallery {
  background: #f2f2f2;
  font-size: 0px;
  text-align: center;
  padding: 50px 0;
}

.photo {
  display: inline-block;
  position: relative;
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
}

.photo__title {
  font-size: 18px;
  line-height: 1;
  background: #452e2e;
  letter-spacing: -0.2px;
  padding: 10px 0;
  color: #fff;
}

.photo__link {
  display: block;
}

.photo__link:after {
  content: '';
  position: absolute;
  top: -16px;
  left: -7px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #F2F2F2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.row-photo {
  border-bottom: 1px solid #d1d1d1;
  padding: 0 0 35px 0;
}

.row-photo:last-child {
  border: none;
  padding: 35px 0 0 0;
}

/*calculator*/

.calculator {
  text-align: center;
  height: 550px;
  background: url(../img/calc-bg.jpg) no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
}

.wraper_calculator {
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.form-calculator {
  width: 46%;
  background: #fff;
  margin: 0 auto;
  padding: 50px;
}

.header_calculator {
  margin: 0 0 25px 0;
  line-height: 1;
}

.item-form {
  display: inline-block;
  margin: 0 0 25px 0;
  width: 100%;
  font-size: 0;
  text-align: center;
}

.item-form__title {
  display: block;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;
}

.item-form__title_checkbox {
  display: inline-block;
}

.item-form__field {
  display: inline-block;
  width: 100%;
  padding: 0px 25px 0 10px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #555;
}

.item-form_fireplace {
  position: relative;
  vertical-align: top;
  text-align: left;
  width: 40%;
  margin: 0;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .fireplace {
  background-position: 0 0px;
}

.select-arrow {
  position: relative;
  background: url(../img/arrow.png) no-repeat right -157px, #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.select-arrow::-ms-expand {
  display: none;
}

.price {
  width: 59%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

.price__item {
  max-width: 1019px;
  font-weight: 600;
}

.price__value {
  font-size: 25px;
  font-weight: 700;
}

.fireplace {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 25px;
  background: url(../img/checked_checkbox.png) no-repeat 0 -43px;
  background-size: cover;
}

/*calculator end*/

/*review*/

.review {
  background: #ECECEC;
  padding: 50px 0;
}

.review__title {
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 25px 0;
}

.review__title span {
  display: block;
  font-size: 25px;
}

.review__text {
  line-height: 36px;
}

.review__content {
  padding: 0 0 0 350px;
  box-sizing: border-box;
  background: url(../img/men.jpg) no-repeat 0 bottom;
}

.header_review {
  text-align: left;
}

/*review end*/

/*footer*/

.footer {
  background: #222;
  padding: 25px 0;
  color: #fff;
}

.copyright {
  text-align: center;
}

.copyright__item {
  font-size: 14px;
  line-height: 1.7;
}

.copyright__item__develop {
  font-size: 14px;
}

.copyright a {
  color: #fff;
}

/**/

/*media*/

@media screen and (max-width: 1200px) {
  .wraper {
    width: 100%;
  }

  .phone {
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  .photo {
    width: 50%;
  }

  .service {
    width: 35%;
  }

  .promo__slogan {
    right: initial;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text {
    line-height: 30px;
  }

  .text span {
    display: inline-block;
  }

  .header_slogan {
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 850px) {
  .form-calculator {
    width: 100%;
  }
}

