html, body, ul, li, p, img, h1, h2, h3, h4 {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
  text-decoration: none;
  transition:0.5s ease;
}
html {
	background:#fbfbfb;
}
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../font/bebasneue_bold-webfont.eot');
    src: url('../font/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../font/bebasneue_bold-webfont.woff') format('woff'),
         url('../font/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../font/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../font/HelveticaLTStdLight.eot');
    src: url('../font/HelveticaLTStdLight.eot') format('embedded-opentype'),
         url('../font/HelveticaLTStdLight.woff2') format('woff2'),
         url('../font/HelveticaLTStdLight.woff') format('woff'),
         url('../font/HelveticaLTStdLight.ttf') format('truetype'),
         url('../font/HelveticaLTStdLight.svg#HelveticaLTStdLight') format('svg');
}
$navigation: 45px;
$color-head:#23252a;
$browser-context: 16; // Default

$icon:url(../images/icon.png) no-repeat 0px;
$position-y: 50%;

@mixin icon($position-bg){
	&:before{
	content: '';
	position: absolute;
	left: 0;
	top: $position-y;
    width: 80px;
    height: 80px;
    transform: translate(0%, -50%);
	background:$icon #{$position-bg}px;
	}
}
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}
.wraper{
	/*width:1180px;*/
	margin:0 auto;
	width: 84%;
		@media screen and (max-width: 992px){
			width: 92%;
		}
	&_portfolio {
		margin: 40px auto 55px;
	}
	&_testimonials {
		padding: 17px 0 33px 0;
	}
}
.caption{
	&_social {
		display:inline-block;
		color:#9d9d9d;
		font: em(13) 'Ubuntu Condensed', Tahoma, serif;
		text-transform:uppercase;
		margin: 0 11px 0 0;
			@media screen and (max-width: 992px){
				display: none;
			}
	}
	&_slide {
		color:#c9cbce;
		font: em(60) 'Bebas_neuebold', Arial, sans-serif;
		text-transform:uppercase;
		line-height:1;
		margin: 0 0 13px 0;
	}
	&_atom {
	  font: em(80) 'Bebas_neuebold', Arial, sans-serif;
	  color: #4b7db0;
	  letter-spacing: -2px;
	  border-bottom: 1px solid #ccc;
	  margin: 0 0 30px 0;
	  padding: 0 0 25px 0;
	}
	&_portfolio{
		color:#dd574b;
		font: em(35) 'Bree Serif', sans-serif;
		display: inline-block;
		line-height: 1;
	}
	&_slogan-testimonials {
		color: #446f9b;
		font: em(32) 'Bebas_neuebold', sans-serif;
		border-bottom:1px solid #8ec5de;
		text-transform: uppercase;
		margin: 0 0 46px 0;
		padding: 0 0 10px 0;
	}
	&_content-testimonials {
		color:#f98561;
		font: em(14) 'Open Sans', sans-serif;
		margin: 0 0 25px 0;
	}
	&_slogan-footer{
		color:#2e3e4f;
		font-size: em(32);
		letter-spacing: -2px;
		font-weight: 300;
	}
}
.button {
		display: inline-block;
		border-radius: 5px;
		transition: 0.5s ease;
		background: #dd574b;
		font-family: 'Open Sans', sans-serif;
	&_promo {
		font-size: em(20);
		color: #ffebca;
		padding: 10px 60px;
		text-transform: uppercase;
		word-spacing: 3px;
	}
	&_atom {
		font-size: em(22);
		color:#ffebca;
		padding: 10px 40px;
		letter-spacing: -1px;
	}
	&_portfolio {
		font-size: em(20);
		color: #fff;
		padding: 10px 25px;
		line-height:1;
	}
	&_footer{
		font-size: em(24);
		color:#ffebca;
		padding: 10px 60px;
		font-weight: 300;
		letter-spacing: -1px;
		margin: 25px 0 0 0;
	}
	&:hover {
		background:#2190C2;
		transition: 0.5s ease;
	}
}
.content{
	&_atom {

		padding: 0 5px;
		margin: 0 0 75px 0;
	}
	&_portfolio {
		margin: 55px 0 0 0;
	}
	&_testimonials{
		margin: 45px 0 0 0;
	}
}
.slogan {
	&__text {
		width: 70%;
		margin: 0 auto;
		color:#5a5a5a;
		font:em(25) 'Open Sans', sans-serif;
		line-height: 21px;
		&_atom {
			font-size: em(14);
		}
		&_testimonals {
			font-size: em(25);
		}
			@media screen and (max-width: 992px){
				width: 90%;
			}
	}
	&_atom {
		margin: 0 0 35px 0;
	}
	&_testimonals {
	}
	&_footer {
		background:#f2f2f2;
		padding: 50px 0 45px 0;
		overflow: hidden;
		margin: 0 0 15px 0;
	}
}
.justify {
	text-align:justify;
	&:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
}
.head {
	position: relative;
	background: #272b34;
	background-size: cover;
	text-align: center;
	margin-bottom: -53px;
}
.logo {
	display:none;
}
.logo-svg {
	width: 100%;
	height: 100%;
}
/*****Head_menu******/
.menu-top {
    position: absolute;
    width: 40%;
	top:0;
    left: 50%;
    transform: translate(-50%, 0);
	z-index:2;
		@media screen and (max-width: 992px){

			width:50%;
		}
}
.menu-svg {
	&__bg0{
		fill:#273C53;
	}
	&__bg1{
		fill:#405D7B;
	}
	&__bg {
		fill:#E8E8E8;
	}
	&__text-way {
		fill:none;
	}
	&__dotted-line{
		fill:none;
		stroke:#5D748C;
		stroke-linecap:square;
		stroke-linejoin:round;
		stroke-miterlimit:10;
		stroke-dasharray:1.9,3.8;
	}
	&__logo{
		fill:#D3E3F4;
	}
	&__text tspan{

		font-size:em(14);
	}
	&__separator text {

		font-size:em(24);
	}
	& &__item_active{
		fill:#0E75EA;
	}
	&__text tspan:hover {
		cursor: pointer;
		fill:#0E75EA;
		transition: 0.5s ease;
	}
	text, tspan {
		font-family:'Verdana';
		fill:#546373;
	}
}
%mobile-control__item{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 20%;
	background:$color-head;
	transition: all ease .2s;
	-webkit-transform: translateZ(0);
}
.mobile-nav{
	display:none;
}
.mobile{
	&-control{
		position: absolute;
		top: 30px;
		right: 30px;
	    /*transform: translate(0%, -50%);*/
		width: 20px;
		height: 20px;
		background:#D3E3F4;
		z-index: 1;
		&:after{
			@extend %mobile-control__item;
			top: 60%;
		}
		&:before{
			@extend %mobile-control__item;
			top: 20%;
		}
	}
	&-nav__wrap{
		/*position: absolute;*/
		display: none;
		background:$color-head;
		width: 100%;
		/*top: 80px;
		z-index: 1;*/
	}
}
.mobile-menu{
	width: 92%;
	margin:0 auto;
	padding: 10px 0;
	line-height: 0;
    font-size: 1px;
	&__item{
		display:inline-block;
		vertical-align: middle;
	}
	&__link{
		color: #D3E3F4;
		font: 16px "Open Sans", sans-serif;
	}
}
.navigation {
	height:$navigation;
	position: relative;
	background:$color-head;
	border-bottom:2px dashed #37393d;
	box-shadow:0 3px 0 0 $color-head;
    z-index: 1;
}

.toogle {
	display:inline-block;
	margin: 0 0 0 2px;

	&__item {
		color:#9d9d9d;

		font: em(13) 'Ubuntu Condensed', Tahoma, serif;
		text-transform:uppercase;
		transition: 0.5s ease;
		&:hover{
		    color: #fbfbfb;
			transition: 0.5s ease;
		}
		&_website {
			margin: 0 0 0 88px;

			&:target{
				right: 1px;
				background:#000;

				&:after{
					left: 1px;
					background:#ccc;
				}
			}
		}
	}
	&__control{
		position:relative;
		left: -125px;
		top: 3px;
		display: inline-block;
		height:15px;
		width: 70px;
		background:#292c31;
		border-radius:3px;
		box-shadow: 1px 1px 1px 0 #393b40, 2px 2px 2px 0 #181a1d inset;

		&:after{
			content:'';
			position:absolute;
			height:11px;
			width:25px;
			border-radius:3px;
			top: 2px;
			right: 1px;
			background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,0.45), rgba(255,255,255,0.35));
			box-shadow: inset rgba(0,0,0,0.6) 0 -3px 8px, inset rgba(252,255,255,0.7) 0 3px 8px, rgba(0,0,0,0.8) 1px 1px 1px 0px;
		}
	}
}
.social {
	display:inline-block;
	line-height:$navigation;
	margin: 0 -3px 0 0;
}

.social-menu {
	display: inline-block;

	&__item {
		display:inline-block;
		padding: 0 2px;
	}
	&__link {
		width:25px;
		height:25px;
		border-radius:50%;
		background:#5c5c5c;
		color:#bcbcbc;
		text-align: center;
		line-height: 25px;

		font-size: em(12);
		transition: 0.5s ease;
	}
}

.promo {
	text-align: center;
}

.slide {
	&__info {
		position: absolute;
		left: 50%;
		width: 650px;
		top: 50%;
		transform: translate(-50%, -50%);
			@media screen and (max-width: 992px){
				transform: translate(-50%, -20%);
			}
	}
	&__text {
		color:#92959a;

		font: em(14) 'Open Sans', sans-serif;
		margin: 0 0 31px 0px;
	}
}

//������������� ����� � bsslider.scss

.atom {
	text-align: center;
	margin: 0 0 50px 0;
	background: #fbfbfb;
	padding: 20px 0 0 0;
}
.column {
	display: inline-block;
    vertical-align: middle;
	&_left {
		text-align:left;
		//padding: 52px 0 0 0;
		width: 27%;
	}
	&_center{
		width:44%;
		position: relative;
    	z-index: 1;
	}
	&__images{
		max-width: 100%;
	}
	&_right {
		text-align:right;
		//padding: 52px 0 0 0;
		width: 27%;
	}
}

.box_column-left {

	.box__header {
		padding: 5px 0 5px 10px;
		box-shadow: -5px -5px 0 0 #d9d9d9;
		&:before {
			left: 90%;
			transform: skew(20deg, 0deg);
		}
	}
	.box__content:before {
		right: -28px;
	    top: 11px;
		transform:rotate(-45deg);
	}
}

.box_column-right {

	.box__header {
		padding: 5px 10px 5px 0;
		box-shadow: 5px -5px 0 0 #d9d9d9;
		&:before {
			left: -10%;
			transform: skew(-20deg, 0deg);
			box-shadow: -3px -12px 0px -7px #d9d9d9;
		}
	}
	.box__content:before {
	    left: -28px;
	    top: 11px;
	    transform: rotate(135deg);
	}
}

.box {
	&_social {
		margin: 33% 15px 0 0;

		@media screen and (max-width: 992px){
			margin: 20% 15px 6% 0;
		}
	}
	&_shop {
		margin: 33% 0px 0 15px;
		@media screen and (max-width: 992px){
			margin: 20% 0 6% 15px;
		}
	}
}
.box__content {
	position:relative;
	margin: -15px 0 0 0;
    z-index: 0;
	border:1px solid #dcc1c9;
	border-left:none;
	border-right:none;
	padding: 20px 0 0px 0;
	height:80px;
	box-sizing:border-box;

	&:before {
		content:"";
		position:absolute;
	    height: 55.6px;
	    width: 55.6px;
		border:1px solid #dcc1c9;
		border-top:none;
		border-left:none;
	}
	p{
		font: em(12) 'Open Sans', sans-serif;
		color:#7f8081;
		height:100%;
		overflow: hidden;	}
}

.box__header {
	display:inline-block;
	width: 67%;
	font: em(18) 'Ubuntu Condensed', sans-serif;
	position:relative;
	z-index:1;
		@media screen and (max-width: 992px){
			width:75%;
			white-space: nowrap;
		}
	&:before {
		content:"";
		position:absolute;
		top: 0;
		height: 100%;
		width: 20%;
		background:inherit;
		box-shadow: 2px -12px 0px -7px #d9d9d9;
		z-index: -1;
	}
	&_desing{
		background:#79769d;
		color: #f2f1ff;
	}
	&_social{
		width: 61%;
		background:#cb5a7c;
		color: #ffe3eb;
	}
	&_search {
		background:#dd574b;
		color: #f8e5e4;
	}
	&_shop {
		width: 56%;
		background:#8da552;
		color: #e9eedf;
	}
}

.box__details{
	font: em(14) 'Bree Serif', sans-serif;

	&_shop {
		color:#8da552;
	}
	&_search {
		color:#dd574b;
	}
	&_social {
		color:#cb5a7c;
	}
	&_desing {
		color:#79769d;
	}
}

.portfolio {
	position: relative;
	background:#2e3e4f;
	padding: 1%;
	line-height: 0;
}
.case {
	width: 22%;
	display: inline-block;
	vertical-align:top;
	&__item {
		display: inline-block;
		position:relative;
		/*background:#fff;
		padding:4%;*/
		overflow:hidden;
		margin: 0 0 15px 0;
		&:before {
			content:'';
			position:absolute;
			top: 0;
			background: rgba(31, 14, 14, 0.46);
			height:100%;
			width:100%;
			left:-100%;
			transition: 0.5s ease;
		}
		&:hover .info, &:hover:before {
			left:0;
			transition: 0.5s ease;
		}
	}
	&__images {
		max-width: 100%;
		border: 8px solid #fff;
		box-sizing: border-box;
	}
	&__header {
		color:#f98561;
		font: em(17.5) 'Bree Serif', serif;
		margin: 0 0 5px 0;
	}
	&:last-child {
		margin:0;
	}
	p {
		color:#cfd5d7;
		font: em(12) 'Open Sans', sans-serif;
		text-align: left;
	}
}

.info {
	position:absolute;
	width:100%;
    top: 0;
    left: -100%;
	transition: 0.5s ease;
	text-align:center;
    top: 50%;
    transform: translate(0%, -50%);
	&__details {
	    color: #fbfbfb;
	    font: em(16) 'Open Sans', sans-serif;
	    display: inline-block;
	    padding: 10px 20px 10px 70px;
	    border: 1px solid #fbfbfb;
	    border-radius: 5px;
	    margin: 20px 0 0 0;
	    background: url(../images/icon-eye.png) no-repeat 15px center
	}
	&__header {
		color:#f98561;
		font: em(17.5) 'Bree Serif', serif;
		margin: 0 0 5px 0;
	}
	p {
		text-align:center;
	}
}
.testimonials {
	text-align:center;
	background: #fbfbfb;
}
.footer {
    text-align: center;
    background: #2e3e4f;
	font-family:'Open Sans',sans-serif;
}

.menu {
	display:inline-block;
	padding: 10px 20px;
	border-radius: 0 0 5px 5px;

	&__item{
		display:inline-block;
		padding: 0 5px 0 28px;
		&:first-child {
			padding-left:0;
		}
	}
	&__link {
		text-decoration:none;
		font-size: em(15);
		color:#808b96;
		&_active {
			color:#4f97e9;
		}
		&:hover {
			color:#fbfbfb;
			transition:0.5s ease;
		}
	}
}

.social-list{
	display:block;
	padding: 15px 20px;

	&__item {
		display:inline-block;
		padding: 0 3px 0 15px;
		&:first-child {
			padding-left:0;
		}
	}
	&__link {
		display:inline-block;
		width:45px;
		height:45px;
		transition:0.2s ease;
		&_fb {
			background:url(../images/social_footer.png) no-repeat -3px -3px;
		}
		&_tw {
			background:url(../images/social_footer.png) no-repeat -65px -3px;
		}
		&_be {
			background:url(../images/social_footer.png) no-repeat -133px -3px;
		}
		&_in {
			background: url(../images/social_footer.png) no-repeat -195px -3px;
		}
		&:hover {
			transform:scale(1.1);
			transition:0.2s ease;
		}
	}
}
.copyright {
	color:#bbc1c9;
	font-size: em(13);
	padding: 15px 0 20px 0px;
}
@media screen and (max-width: 1382px){
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
	$browser-context: 12;
	$navigation: 75px;
	.slogan{
		&_atom {
			margin: 0 0 10px 0;
		}
		&_footer {
			padding: 25px 0 30px 0;
		}
	}
	.head{
		margin-bottom: 0;
	}
	.logo {
		position: absolute;
		display: block;
		width: 45%;
		height: 75%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	.menu-top {
		display:none;
		//width:100%;
		//top: -10px;
	}
	.social {
		display:none;
	}
	.toogle {
		display:none;
	}
	.navigation {
		height:$navigation;
	}
	.mobile-nav{
		display:block;
	}
	.slide__info {
		width:95%;
		transform: translate(-50%, -50%);
	}
	.atom {
		margin: 0px 0 5% 0;
		padding: 10px 0 0 0;
	}
	.slogan__text {
		width: 98%;
	}
	.column_center {
		display:none;
	}
	.column{
		width:100%;
		&_right{
			text-align:left;
		}
	}
	.content_atom {
		text-align:justify;
		margin: 0 0 1% 0;
		padding:0;
		&:after {
			width: 100%;
			height: 0;
			visibility: hidden;
			overflow: hidden;
			content: '';
			display: inline-block;
		}
	}
	.box_column-left {
		.box__header {
			box-shadow: none;
			padding:0;
			&:before {
				display:none;
			}
		}
		.box__content:before {
			display:none;
		}
	}
	.box_column-right {
		&.box:first-child{
			border-top:none;
		}
		.box__header {
			box-shadow: none;
			padding:0;
			&:before {
				display:none;
			}
		}
		.box__content:before {
			display:none;
		}
	}
	.box {
		position: relative;
		border-bottom:1px solid #dcc1c9;
		padding: 10px 0 10px 100px;
		&:first-child {
			border-top:1px solid #dcc1c9;
		}
		&_social {
			margin: 0 0 0 0;
			@include icon(-322)
		}
		&_shop {
			margin: 0 0 0 0;
			@include icon(-221)
		}
		&_desing {
			@include icon(-19)
		}
		&_search {
			@include icon(-121)
		}
		&__details{
			position: absolute;
		    top: -27px;
			left: 100%;
			transform: translate(-100%, 0);
		    display: inline-block;
		    border-radius: 5px;
		    transition: 0.5s ease;
		    background: #4b7db0;
		    color: #fff;
		    padding: 4px 15px;
		}
	}
	.box__content {
		margin: 0;
		padding: 5px 0 0 0;
		height:80px;
		border:none;

		&:before {
			display:none;
		}
		p{
			font: em(14) 'Open Sans', sans-serif;
			color:#7f8081;
			height:100%;
			overflow: hidden;
		}
	}
	.box__header {
		$color-header:#93999f;
		display:inline-block;
		width: auto;
		font: em(24) 'Ubuntu Condensed', sans-serif;/*em(24)*/
		background:none;
		&:before {
			display:none;
		}
		&_desing{
			color: $color-header;
		}
		&_social{
			width: auto;
			color: $color-header;
		}
		&_search {
			color: $color-header;
		}
		&_shop {
			width: auto;
			color: $color-header;
		}
	}
	.case {
		width:46%;
		margin:0 0 20px 0;
		&__item{
			&:hover .info, &:hover:before {
				left:-100%;
			}
		}
		p{
			font-size:em(14);
		}
	}
	.info{
		display: none;
	}
	.wraper_portfolio {
		margin: 4% auto 45px;
	}
	.content_portfolio {
		margin: 5% 0 0 0;
	}
	.title_portfolio{
		text-align:center;
	}
	.button_portfolio {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translate(-50%, 0);
	}
	.content_testimonials {
    	margin: 25px 0 0 0;
	}
	.slogan__text_testimonials {
		font-size: em(16);
	}
	.social-list__link:hover {
	    transform: none;
	}
	.caption{
		&_slide {
			font-size: em(48);
		}
		&_atom {
			font-size: em(48);
			letter-spacing: 0px;
			margin: 0 0 10px 0;
			padding: 0 0 10px 0;
		}
		&_portfolio{
			font-size: em(35);
		}
		&_slogan-testimonials{
			font-size: em(32);
			margin: 0 0 10px 0;
		}
		&_content-testimonials {
			font-size: em(14);
		}
		&_slogan-footer{
			font-size: em(32);
		}
	}
	.button {
		&_promo {
			font-size: em(16);
			padding: 7px 35px;
		}
		&_atom {
			font-size: em(18);
			padding: 10px 40px;
		}
		&_portfolio {
			font-size: em(18);
			padding: 10px 25px;
		}
		&_footer{
			font-size: em(20);
			padding: 10px 60px;
		}
	}
}
@media screen and (max-width: 640px){
	.caption{
		&_slide {
			font-size: em(36);
		}
		&_atom {
			font-size: em(80);
		}
		&_portfolio{
			font-size: em(35);
		}
		&_slogan-testimonials{
			font-size: em(32);
		}
		&_content-testimonials {
			font-size: em(14);
		}
		&_slogan-footer{
			font-size: em(32);
		}
	}
	.slide__text{
		margin: 0 0 10px 0px;
	}
	.button {
		&_promo {
			font-size: em(16);
			padding: 7px 35px;
		}
		&_atom {
			font-size: em(22);
			padding: 10px 40px;
		}
		&_portfolio {
			font-size: em(20);
			padding: 10px 25px;
		}
		&_footer{
			font-size: em(24);
			padding: 10px 60px;
		}
	}
}
@media screen and (max-width: 480px){
	$position-bg: 37%;
	$navigation: 55px;
	.navigation {
		height:$navigation;
	}
	.box {
		$position-y: 37% !global;
		&_social {
			@include icon(-322)
		}
		&_shop {
			@include icon(-221)
		}
		&_desing {
			@include icon(-19)
		}
		&_search {
			@include icon(-121)
		}
	}
	.box__details {
    	top: 57px;
    	left: -94px;
		transform: translate(0);
	}
	.case{
		margin: 0 0 15px 0;
		p {
    		display: none;
		}
		&__images {
			border: 5px solid #fff;
		}
	}
	.mobile-control {
	    top: 20px;
	}
	.caption{
		&_slide {
			font-size: em(30);
		}
		&_atom {
			font-size: em(36);
		}
		&_portfolio{
			font-size: em(30);
		}
		&_slogan-testimonials{
			font-size: em(32);
		}
		&_content-testimonials {
			font-size: em(14);
		}
		&_slogan-footer{
			font-size: em(28);
		}
	}
	.button {
		&_promo {
			font-size: em(14);
			padding: 7px 30px;
		}
		&_atom {
			font-size: em(18);
			padding: 10px 40px;
		}
		&_portfolio {
			font-size: em(16);
			padding: 10px 25px;
		}
		&_footer{
			font-size: em(20);
			padding: 10px 60px;
		}
	}
	.slide__link{
		display:inline-block;
		width:32%;
	}
	.menu{
		padding: 10px 0;
		&__item{
			padding: 0 5px;
		}
	}
}
@media screen and (max-width: 380px){
	.slide__text{
		height:54px;
		overflow:hidden;
		font-size: 13px;
	}
	.caption_slide{
		margin:0;
	}
	.case__header {
		font-size: 16px;
	}
}
@media screen and (max-width: 320px){
	.case {
	    width: 100%;
	}
	.caption_portfolio {
    	font-size: 24px;
	}
	.button_portfolio {
    	bottom: 13px;
	}
	.mobile-menu__link {
		font-size: 12px;
	}
	.slogan {
		&__text_atom {
			font-size: em(13);
		}
		&__text_testimonials {
			font-size: 13px;
		}
	}
	.box__content p {
		font-size: em(13);
	}
}
/*������ ������� ���� � sass ���� �� ����� ��� ���������� ������ �� 20%*/
///***********/
///*.menu:after {
//	content: "";
//    position: absolute;
//    width: 650px;
//    height: 490px;
//    background: #405d7b;
//	border: 1px dashed #70869c;
//    border-radius: 50%;
//    top: -415px;
//    left: -49px;
//    z-index: 3;
//    box-shadow: 0 0 0 10px #405b7b;
//}
//.menu:before {
//	content: "";
//    border-radius: 50%;
//    height: 2px;
//    width: 2px;
//    position: absolute;
//    top: -142px;
//    left: 275px;
//    margin-top: -1px;
//    margin-left: -1px;
//    background: #333;
//    box-shadow:
//	266px 142px 0 8px #253a50,
//	254px 154px 0 8px #253a50,
//	240px 165px 0 8px #253a50,
//	226px 175px 0 8px #253a50,
//	212px 185px 0 8px #253a50,
//	197px 194px 0 8px #253a50,
//	-266px 142px 0 8px #253a50,
//	-254px 154px 0 8px #253a50,
//	-240px 165px 0 8px #253a50,
//	-226px 175px 0 8px #253a50,
//	-212px 185px 0 8px #253a50,
//	-197px 194px 0 8px #253a50,
//	 -195px 183px 0 12px #253a50,
//	 195px 183px 0 12px #253a50;
//    z-index: 3;
//}
//.menu_logo {
//	position: absolute;
//    z-index: 4;
//    left: 50%;
//    transform: translate(-50%,0);
//}
//.menu_logo h1 {
//    font: 45px 'Damion', cursive;
//    color: #d3e3f4;
//}
//.menu_wraper:before {
//	content: "";
//    position: absolute;
//    width: 650px;
//    height: 490px;
//    border-radius: 50%;
//    top: -404px;
//    left: -49px;
//    z-index: 2;
//    box-shadow: 0px 0px 0px 12px #253a50;
//}
//.head_menu {
//    display: inline-block;
//    position: relative;
//    top: 15px;
//    left: 74px;
//	z-index: 2;
//}
//.head_menu:before {
//    content: "";
//    height: 0px;
//    position: absolute;
//    top: 21px;
//    left: -14px;
//    z-index: 1;
//    border-top: 39px solid #272b34;
//    border-left: 25px solid transparent;
//    transform: rotate(29deg)
//}
//.head_menu:after {
//    content: "";
//    height: 0;
//    width: 0;
//    position: absolute;
//	top: 18px;
//    right: -13px;
//    z-index: 1;
//    border-top: 44px solid #272b34;
//    border-right: 25px solid transparent;
//    transform: rotate(-30deg);
//}
//.head_menu ul {
//    position: relative;
//    width: 362px;
//    height: 100px;
//    overflow: hidden;
//    z-index: 0;
//	margin: 16px 0;
//    padding: 0 0 0 40px;
//}
//.head_menu ul:before {
//	content: "";
//    border-radius: 50%;
//    height: 800px;
//    width: 800px;
//    position: absolute;
//    top: -744px;
//    left: -202px;
//    background: #405d7b;
//}
//.head_menu ul:after {
//	content: "";
//    border-radius: 0% 0% 50% 50%;
//    height: 855px;
//    width: 855px;
//    position: absolute;
//    top: -758px;
//    left: -226px;
//    background: #e8e8e8;
//    z-index: -1;
//    box-shadow: 0 0 1px 4px #d6d8dd inset;
//}
//.head_menu li {
//	display:inline-block;
//	padding: 0 8px;
//	margin-top: 56px;
//}
//.head_menu li a:hover {
//	color: #0e75ea;
//	transition:0.5s ease;
//}
//.head_menu li:first-child {
//	border-left:none;
//	padding-left:0;
//}
//.head_menu a {
//	text-transform:uppercase;
//	font: 15px HelveticaLTStdLight, Arial, sans-serif;
//	color: #546373;
//}
//.head_menu .active {
//	color: #0e75ea;
//}
//.head_menu li:not(.head_menu_contact):before {
//	content: "";
//    position: absolute;
//	width: 1px;
//    height: 15px;
//    background: #808b96;
//}
//.head_menu_home {
//	transform: rotate(20deg);
//    position: absolute;
//    top: -11px;
//}
//.head_menu_home:before{
//    top: 1px;
//    right: -3px;
//    transform: rotate(-5deg);
//}
//.head_menu_about{
//	transform: rotate(8deg);
//    position: absolute;
//    top: 7px;
//    left: 95px;
//}
//.head_menu_about:before{
//    top: 1px;
//    right: -5px;
//    transform: rotate(-6deg);
//}
//.head_menu_portfolio{
//	transform: rotate(-6deg);
//    position: absolute;
//    top: 9px;
//    right: 104px;
//}
//.head_menu_portfolio span {
//	transform: translate3d( 0, 0, 0);
//}
//.head_menu_portfolio:before{
//    top: -1px;
//    right: -2px;
//    transform: rotate(-5deg);
//}
//.head_menu_contact{
//	transform: rotate(-20deg);
//    position: absolute;
//    top: -13px;
//    right: 16px;
//}*/
///***********/
///*
//.item {
//  display:inline-block;
//  margin:0 10px 0 0;
//}
//.item:last-child {
//  margin:0;
//}
//.l-footer__content__counters__list {
//  text-align:left;
//}
//*/
//
/*kfkfk*/
