@charset "UTF-8";
html, body, ul, li, p, img, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 0.5s ease; }

html {
  background: #fbfbfb; }

@font-face {
  font-family: 'bebas_neuebold';
  src: url("../font/bebasneue_bold-webfont.eot");
  src: url("../font/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/bebasneue_bold-webfont.woff2") format("woff2"), url("../font/bebasneue_bold-webfont.woff") format("woff"), url("../font/bebasneue_bold-webfont.ttf") format("truetype"), url("../font/bebasneue_bold-webfont.svg#bebas_neuebold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaLTStdLight';
  src: url("../font/HelveticaLTStdLight.eot");
  src: url("../font/HelveticaLTStdLight.eot") format("embedded-opentype"), url("../font/HelveticaLTStdLight.woff2") format("woff2"), url("../font/HelveticaLTStdLight.woff") format("woff"), url("../font/HelveticaLTStdLight.ttf") format("truetype"), url("../font/HelveticaLTStdLight.svg#HelveticaLTStdLight") format("svg"); }

.wraper {
  /*width:1180px;*/
  margin: 0 auto;
  width: 84%; }
  @media screen and (max-width: 992px) {
    .wraper {
      width: 92%; } }
  .wraper_portfolio {
    margin: 40px auto 55px; }
  .wraper_testimonials {
    padding: 17px 0 33px 0; }

.caption_social {
  display: inline-block;
  color: #9d9d9d;
  font: 0.8125em "Ubuntu Condensed", Tahoma, serif;
  text-transform: uppercase;
  margin: 0 11px 0 0; }
  @media screen and (max-width: 992px) {
    .caption_social {
      display: none; } }

.caption_slide {
  color: #c9cbce;
  font: 3.75em "Bebas_neuebold", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 13px 0; }

.caption_atom {
  font: 5em "Bebas_neuebold", Arial, sans-serif;
  color: #4b7db0;
  letter-spacing: -2px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px 0;
  padding: 0 0 25px 0; }

.caption_portfolio {
  color: #dd574b;
  font: 2.1875em "Bree Serif", sans-serif;
  display: inline-block;
  line-height: 1; }

.caption_slogan-testimonials {
  color: #446f9b;
  font: 2em "Bebas_neuebold", sans-serif;
  border-bottom: 1px solid #8ec5de;
  text-transform: uppercase;
  margin: 0 0 46px 0;
  padding: 0 0 10px 0; }

.caption_content-testimonials {
  color: #f98561;
  font: 0.875em "Open Sans", sans-serif;
  margin: 0 0 25px 0; }

.caption_slogan-footer {
  color: #2e3e4f;
  font-size: 2em;
  letter-spacing: -2px;
  font-weight: 300; }

.button {
  display: inline-block;
  border-radius: 5px;
  transition: 0.5s ease;
  background: #dd574b;
  font-family: 'Open Sans', sans-serif; }
  .button_promo {
    font-size: 1.25em;
    color: #ffebca;
    padding: 10px 60px;
    text-transform: uppercase;
    word-spacing: 3px; }
  .button_atom {
    font-size: 1.375em;
    color: #ffebca;
    padding: 10px 40px;
    letter-spacing: -1px; }
  .button_portfolio {
    font-size: 1.25em;
    color: #fff;
    padding: 10px 25px;
    line-height: 1; }
  .button_footer {
    font-size: 1.5em;
    color: #ffebca;
    padding: 10px 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 25px 0 0 0; }
  .button:hover {
    background: #2190C2;
    transition: 0.5s ease; }

.content_atom {
  padding: 0 5px;
  margin: 0 0 75px 0; }

.content_portfolio {
  margin: 55px 0 0 0; }

.content_testimonials {
  margin: 45px 0 0 0; }

.slogan__text {
  width: 70%;
  margin: 0 auto;
  color: #5a5a5a;
  font: 1.5625em "Open Sans", sans-serif;
  line-height: 21px; }
  .slogan__text_atom {
    font-size: 0.875em; }
  .slogan__text_testimonals {
    font-size: 1.5625em; }
  @media screen and (max-width: 992px) {
    .slogan__text {
      width: 90%; } }

.slogan_atom {
  margin: 0 0 35px 0; }

.slogan_testimonals {
  margin: 0 0 35px 0;
  color: #515862;
  /*font: em(25) 'Bree Serif', serif;*/ }

.slogan_footer {
  background: #f2f2f2;
  padding: 50px 0 45px 0;
  overflow: hidden;
  margin: 0 0 15px 0; }

.justify {
  text-align: justify; }
  .justify:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block; }

.head {
  position: relative;
  background: #272b34;
  background-size: cover;
  text-align: center; }

.logo {
  display: none; }

.logo-svg {
  width: 100%;
  height: 100%; }

/*****Head_menu******/
.menu-top {
  position: absolute;
  width: 40%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2; }
  @media screen and (max-width: 992px) {
    .menu-top {
      width: 50%; } }

.menu-svg__bg0 {
  fill: #273C53; }

.menu-svg__bg1 {
  fill: #405D7B; }

.menu-svg__bg {
  fill: #E8E8E8; }

.menu-svg__text-way {
  fill: none; }

.menu-svg__dotted-line {
  fill: none;
  stroke: #5D748C;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1.9,3.8; }

.menu-svg__logo {
  fill: #D3E3F4; }

.menu-svg__text tspan {
  font-size: 0.875em; }

.menu-svg__separator text {
  font-size: 1.5em; }

.menu-svg .menu-svg__item_active {
  fill: #0E75EA; }

.menu-svg__text tspan:hover {
  cursor: pointer;
  fill: #0E75EA;
  transition: 0.5s ease; }

.menu-svg text, .menu-svg tspan {
  font-family: 'Verdana';
  fill: #546373; }

.mobile-control:after, .mobile-control:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  background: #23252a;
  transition: all ease 0.2s;
  -webkit-transform: translateZ(0); }

.mobile-nav {
  display: none; }

.mobile-control {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0%, -50%);
  width: 20px;
  height: 20px;
  background: #D3E3F4;
  z-index: 1; }
  .mobile-control:after {
    top: 60%; }
  .mobile-control:before {
    top: 20%; }

.mobile-nav__wrap {
  position: absolute;
  display: none;
  background: #23252a;
  width: 100%;
  top: 80px;
  z-index: 1; }

.mobile-menu {
  width: 92%;
  margin: 0 auto;
  padding: 10px 0;
  line-height: 0;
  font-size: 1px; }
  .mobile-menu__item {
    display: inline-block;
    vertical-align: middle; }
  .mobile-menu__link {
    color: #D3E3F4;
    font: 16px "Open Sans", sans-serif; }

.navigation {
  height: 45px;
  position: relative;
  background: #23252a;
  border-bottom: 2px dashed #37393d;
  box-shadow: 0 3px 0 0 #23252a;
  margin-bottom: -53px;
  z-index: 1; }

.toogle {
  display: inline-block;
  margin: 0 0 0 2px; }
  .toogle__item {
    color: #9d9d9d;
    font: 0.8125em "Ubuntu Condensed", Tahoma, serif;
    text-transform: uppercase;
    transition: 0.5s ease; }
    .toogle__item:hover {
      color: #fbfbfb;
      transition: 0.5s ease; }
    .toogle__item_website {
      margin: 0 0 0 88px; }
      .toogle__item_website:target {
        right: 1px;
        background: #000; }
        .toogle__item_website:target:after {
          left: 1px;
          background: #ccc; }
  .toogle__control {
    position: relative;
    left: -125px;
    top: 3px;
    display: inline-block;
    height: 15px;
    width: 70px;
    background: #292c31;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 #393b40, 2px 2px 2px 0 #181a1d inset; }
    .toogle__control:after {
      content: '';
      position: absolute;
      height: 11px;
      width: 25px;
      border-radius: 3px;
      top: 2px;
      right: 1px;
      background: #646464 radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.35));
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 1px 1px 1px 0px; }

.social {
  display: inline-block;
  line-height: 45px;
  margin: 0 -3px 0 0; }

.social-menu {
  display: inline-block; }
  .social-menu__item {
    display: inline-block;
    padding: 0 2px; }
  .social-menu__link {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5c5c5c;
    color: #bcbcbc;
    text-align: center;
    line-height: 25px;
    font-size: 0.75em;
    transition: 0.5s ease; }

.promo {
  text-align: center; }

.slide__info {
  position: absolute;
  left: 50%;
  width: 650px;
  top: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 992px) {
    .slide__info {
      transform: translate(-50%, -20%); } }

.slide__text {
  color: #92959a;
  font: 0.875em "Open Sans", sans-serif;
  margin: 0 0 31px 0px; }

.atom {
  text-align: center;
  margin: 0 0 50px 0;
  background: #fbfbfb;
  padding: 20px 0 0 0; }

.column {
  display: inline-block;
  vertical-align: middle; }
  .column_left {
    text-align: left;
    width: 27%; }
  .column_center {
    width: 44%;
    position: relative;
    z-index: 1; }
  .column__images {
    max-width: 100%; }
  .column_right {
    text-align: right;
    width: 27%; }

.box_column-left .box__header {
  padding: 5px 0 5px 10px;
  box-shadow: -5px -5px 0 0 #d9d9d9; }
  .box_column-left .box__header:before {
    left: 90%;
    transform: skew(20deg, 0deg); }

.box_column-left .box__content:before {
  right: -28px;
  top: 11px;
  transform: rotate(-45deg); }

.box_column-right .box__header {
  padding: 5px 10px 5px 0;
  box-shadow: 5px -5px 0 0 #d9d9d9; }
  .box_column-right .box__header:before {
    left: -10%;
    transform: skew(-20deg, 0deg);
    box-shadow: -3px -12px 0px -7px #d9d9d9; }

.box_column-right .box__content:before {
  left: -28px;
  top: 11px;
  transform: rotate(135deg); }

.box_social {
  margin: 33% 15px 0 0; }
  @media screen and (max-width: 992px) {
    .box_social {
      margin: 20% 15px 6% 0; } }

.box_shop {
  margin: 33% 0px 0 15px; }
  @media screen and (max-width: 992px) {
    .box_shop {
      margin: 20% 0 6% 15px; } }

.box__content {
  position: relative;
  margin: -15px 0 0 0;
  z-index: 0;
  border: 1px solid #dcc1c9;
  border-left: none;
  border-right: none;
  padding: 20px 0 0px 0;
  height: 80px;
  box-sizing: border-box; }
  .box__content:before {
    content: "";
    position: absolute;
    height: 55.6px;
    width: 55.6px;
    border: 1px solid #dcc1c9;
    border-top: none;
    border-left: none; }
  .box__content p {
    font: 0.75em "Open Sans", sans-serif;
    color: #7f8081;
    height: 100%;
    overflow: hidden; }

.box__header {
  display: inline-block;
  width: 67%;
  font: 1.125em "Ubuntu Condensed", sans-serif;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 992px) {
    .box__header {
      width: 75%;
      white-space: nowrap; } }
  .box__header:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 20%;
    background: inherit;
    box-shadow: 2px -12px 0px -7px #d9d9d9;
    z-index: -1; }
  .box__header_desing {
    background: #79769d;
    color: #f2f1ff; }
  .box__header_social {
    width: 61%;
    background: #cb5a7c;
    color: #ffe3eb; }
  .box__header_search {
    background: #dd574b;
    color: #f8e5e4; }
  .box__header_shop {
    width: 56%;
    background: #8da552;
    color: #e9eedf; }

.box__details {
  font: 0.875em "Bree Serif", sans-serif; }
  .box__details_shop {
    color: #8da552; }
  .box__details_search {
    color: #dd574b; }
  .box__details_social {
    color: #cb5a7c; }
  .box__details_desing {
    color: #79769d; }

.portfolio {
  position: relative;
  background: #2e3e4f;
  padding: 1%;
  line-height: 0; }

.case {
  width: 22%;
  display: inline-block;
  vertical-align: top; }
  .case__item {
    display: inline-block;
    position: relative;
    /*background:#fff;
		padding:4%;*/
    overflow: hidden;
    margin: 0 0 15px 0; }
    .case__item:before {
      content: '';
      position: absolute;
      top: 0;
      background: rgba(31, 14, 14, 0.46);
      height: 100%;
      width: 100%;
      left: -100%;
      transition: 0.5s ease; }
    .case__item:hover .info, .case__item:hover:before {
      left: 0;
      transition: 0.5s ease; }
  .case__images {
    max-width: 100%;
    border: 8px solid #fff;
    box-sizing: border-box; }
  .case__header {
    color: #f98561;
    font: 1.09375em "Bree Serif", serif;
    margin: 0 0 5px 0; }
  .case:last-child {
    margin: 0; }
  .case p {
    color: #cfd5d7;
    font: 0.75em "Open Sans", sans-serif;
    text-align: left; }

.info {
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  transition: 0.5s ease;
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%); }
  .info__details {
    color: #fbfbfb;
    font: 1em "Open Sans", sans-serif;
    display: inline-block;
    padding: 10px 20px 10px 70px;
    border: 1px solid #fbfbfb;
    border-radius: 5px;
    margin: 20px 0 0 0;
    background: url(../images/icon-eye.png) no-repeat 15px center; }
  .info__header {
    color: #f98561;
    font: 1.09375em "Bree Serif", serif;
    margin: 0 0 5px 0; }
  .info p {
    text-align: center; }

.testimonials {
  text-align: center;
  background: #fbfbfb; }

.footer {
  text-align: center;
  background: #2e3e4f;
  font-family: 'Open Sans',sans-serif; }

.menu {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0 0 5px 5px; }
  .menu__item {
    display: inline-block;
    padding: 0 5px 0 28px; }
    .menu__item:first-child {
      padding-left: 0; }
  .menu__link {
    text-decoration: none;
    font-size: 0.9375em;
    color: #808b96; }
    .menu__link_active {
      color: #4f97e9; }
    .menu__link:hover {
      color: #fbfbfb;
      transition: 0.5s ease; }

.social-list {
  display: block;
  padding: 15px 20px; }
  .social-list__item {
    display: inline-block;
    padding: 0 3px 0 15px; }
    .social-list__item:first-child {
      padding-left: 0; }
  .social-list__link {
    display: inline-block;
    width: 45px;
    height: 45px;
    transition: 0.2s ease; }
    .social-list__link_fb {
      background: url(../images/social_footer.png) no-repeat -3px -3px; }
    .social-list__link_tw {
      background: url(../images/social_footer.png) no-repeat -65px -3px; }
    .social-list__link_be {
      background: url(../images/social_footer.png) no-repeat -133px -3px; }
    .social-list__link_in {
      background: url(../images/social_footer.png) no-repeat -195px -3px; }
    .social-list__link:hover {
      transform: scale(1.1);
      transition: 0.2s ease; }

.copyright {
  color: #bbc1c9;
  font-size: 0.8125em;
  padding: 15px 0 20px 0px; }

@media screen and (max-width: 768px) {
  .logo {
    position: absolute;
    display: block;
    width: 50%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
  .menu-top {
    display: none; }
  .social {
    display: none; }
  .toogle {
    display: none; }
  .navigation {
    height: 75px; }
  .mobile-nav {
    display: block; }
  .slide__info {
    width: 95%;
    transform: translate(-50%, -35%); }
  .atom {
    margin: 0px 0 5% 0; }
  .slogan__text {
    width: 98%; }
  .column_center {
    display: none; }
  .column {
    width: 100%; }
    .column_right {
      text-align: left; }
  .content_atom {
    text-align: justify;
    margin: 0 0 1% 0;
    padding: 0; }
    .content_atom:after {
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block; }
  .box_column-left .box__header {
    box-shadow: none;
    padding: 0; }
    .box_column-left .box__header:before {
      display: none; }
  .box_column-left .box__content:before {
    display: none; }
  .box_column-right.box:first-child {
    border-top: none; }
  .box_column-right .box__header {
    box-shadow: none;
    padding: 0; }
    .box_column-right .box__header:before {
      display: none; }
  .box_column-right .box__content:before {
    display: none; }
  .box {
    position: relative;
    border-bottom: 1px solid #dcc1c9;
    padding: 10px 0 10px 100px; }
    .box:first-child {
      border-top: 1px solid #dcc1c9; }
    .box_social {
      margin: 0 0 0 0; }
      .box_social:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 80px;
        height: 80px;
        transform: translate(0%, -50%);
        background: url(../images/icon.png) no-repeat 0px -322px; }
    .box_shop {
      margin: 0 0 0 0; }
      .box_shop:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 80px;
        height: 80px;
        transform: translate(0%, -50%);
        background: url(../images/icon.png) no-repeat 0px -221px; }
    .box_desing:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 80px;
      height: 80px;
      transform: translate(0%, -50%);
      background: url(../images/icon.png) no-repeat 0px -19px; }
    .box_search:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 80px;
      height: 80px;
      transform: translate(0%, -50%);
      background: url(../images/icon.png) no-repeat 0px -121px; }
    .box__details {
      display: none; }
  .box__content {
    margin: 0;
    padding: 5px 0 0 0;
    height: 80px;
    border: none; }
    .box__content:before {
      display: none; }
    .box__content p {
      font: 0.875em "Open Sans", sans-serif;
      color: #7f8081;
      height: 100%;
      overflow: hidden; }
  .box__header {
    display: inline-block;
    width: auto;
    font: 1.5em "Ubuntu Condensed", sans-serif;
    /*em(24)*/
    background: none; }
    .box__header:before {
      display: none; }
    .box__header_desing {
      color: #93999f; }
    .box__header_social {
      width: auto;
      color: #93999f; }
    .box__header_search {
      color: #93999f; }
    .box__header_shop {
      width: auto;
      color: #93999f; }
  .case {
    width: 46%;
    margin: 0 0 30px 0; }
    .case__item:hover .info, .case__item:hover:before {
      left: -100%; }
    .case p {
      font-size: 0.875em; }
  .wraper_portfolio {
    margin: 4% auto 8%; }
  .content_portfolio {
    margin: 5% 0 0 0; }
  .title_portfolio {
    text-align: center; }
  .button_portfolio {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0); } }

/*������ ������� ���� � sass ���� �� ����� ��� ���������� ������ �� 20%*/

/*# sourceMappingURL=../../flat/sass/style_sass.css.map */